﻿@using Newtonsoft.Json
@using AAT.Model
@using AAT.Model.Utils

@model AAT.Model.ViewModel.UserListViewModel


@using (Html.BeginForm("UserListAction", "User", FormMethod.Post, new { @id = "UserListForm" }))
{
<div class="pagedetail-container">
	@*<fieldset>*@
	@*<legend><span id="criterialCollapselnk">Criterial &nbsp;<img id="imgCriterialCollapse" class="collapseImg" src="~/Images/expand.svg" /></span></legend>*@


	<div style="width:100%;" class="bottomborder"><span id="criterialCollapselnk"><img id="imgCriterialCollapse" class="collapseImg" src="~/Images/expand.svg" /> &nbsp;Criteria</span></div>

	<div id="tbCriterial" style="margin-top:15px; padding-bottom:3px;" class="">
		<table style="width:100%;">
			<tr>
				<td class="colCriterialLabel">Login Name</td>
				<td><input type="text" id="txtLoginName" name="txtLoginName" value="@Model.SearchLoginName" /></td>
				<td class="colCriterialLabel">Type</td>
				<td>
					<select id="ddlType" name="ddlType" style="" class="dropdownlist">
						<option value="" @Html.Raw(Model.SearchStatusId == "" ? "selected" : "")></option>
						<option @Html.Raw(Model.SearchTypeId == "1" ? "selected" : "") value="1">Basic</option>
						<option @Html.Raw(Model.SearchTypeId == "2" ? "selected" : "") value="2">Window</option>
					</select>
				</td>
				<td class="colCriterialLabel">Phone</td>
				<td><input type="text" id="txtPhone" name="txtPhone" value="@Model.SearchPhone" /></td>
				<td class="colCriterialLabel">Role</td>
				<td>
					<select id="ddlRole" name="ddlRole" class="dropdownlist">
						<option value="" selected="selected"></option>
						@foreach (var item in EnumsHelper.GetUserRoleList())
						{
							<option @Html.Raw(Model.SearchRoleId == item.Key.ToString() ? "selected" : "") value="@item.Key">@item.Value</option>
						}
					</select>
				</td>
			</tr>
			<tr style="margin-top:7px; height:40px;">
				<td class="colCriterialLabel">Name</td>
				<td><input type="text" id="txtName" name="txtName" value="@Model.SearchName" /></td>
				<td class="colCriterialLabel">Status</td>
				<td>
					<select id="ddlStatus" name="ddlStatus" style="" class="dropdownlist">
						<option value="" selected="selected"></option>
						<option @Html.Raw(Model.SearchStatusId == StatusType.Active.GetHashCode().ToString() ? "selected" : "") value="@StatusType.Active.GetHashCode()">Active</option>
						<option @Html.Raw(Model.SearchStatusId == StatusType.Locked.GetHashCode().ToString() ? "selected" : "") value="@StatusType.Locked.GetHashCode()">Locked</option>
					</select>
				</td>
				<td class="colCriterialLabel">Email</td>
				<td><input type="text" id="txtEmail" name="txtEmail" value="@Model.SearchEmail" /></td>
				@if (SessionHelper.Session.User.Role == AAT.Model.Utils.UserRole.SuperAdmin)
				{
					<td class="colCriterialLabel">Department</td>
					<td>
						<select id="ddlDepartment" name="ddlDepartment" class="dropdownlist">
							<option value="" selected="selected"></option>
							@foreach (var item in Model.DepartmentList)
							{
								<option @Html.Raw(Model.SearchDepartmentId == item.DepartmentId ? "selected" : "") value="@item.DepartmentId">@item.DepartmentName</option>
							}
						</select>
					</td>
				}
				else
				{
					<td></td>
					<td></td>
				}

			</tr>
		</table>
		<div style="width:100%; text-align:right; padding-top:5px; ">
			<input id="btnSearch" type="button" value="Search" class="btn btn-outline-primary" />
			<input id="btnNewUser" type="button" value="+ New" class="btn btn-outline-primary" />
		</div>
		<input type="hidden" id="Page" name="Page" value="" />
		<input type="hidden" id="PageSize" name="PageSize" value="@Model.PagingModel.Pager.PageSize" />
		<input type="hidden" id="hidLoginName" name="hidUserName" value="@Model.SearchLoginName" />
		<input type="hidden" id="hidTypeId" name="hidUserName" value="@Model.SearchTypeId" />
		<input type="hidden" id="hidRoleId" name="hidUserName" value="@Model.SearchRoleId" />
		<input type="hidden" id="hidPhone" name="hidUserName" value="@Model.SearchPhone" />
		<input type="hidden" id="hidName" name="hidUserName" value="@Model.SearchName" />
		<input type="hidden" id="hidStatusId" name="hidUserName" value="@Model.SearchStatusId" />
		<input type="hidden" id="hidDepartmentId" name="hidUserName" value="@Model.SearchDepartmentId" />
		<input type="hidden" id="hidEmail" name="hidUserName" value="@Model.SearchEmail" />
		<input type="hidden" id="hidSortColumn" name="hidSortColumn" value="@Model.SortColumn" />
		<input type="hidden" id="hidSortOrder" name="hidSortOrder" value="@Model.SortOrder" />
		<input type="hidden" id="ActionId" name="ActionId" value="" />
		@Html.Hidden("hidResetUserId")

	</div>
	@*</fieldset>*@
	<br />
	<table class="listview-tb">
		<tr class="headder-row">
			<td>#</td>
			<td>
				Login Name
				<img id="sortLoginName" onclick="DoSorting('LoginName')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Name
				<img id="sortName" onclick="DoSorting('Name')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>Phone</td>
			<td>Email</td>
			<td>
				Type
				<img id="sortUserTypeId" onclick="DoSorting('UserTypeId')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Role
				<img id="sortRoleName" onclick="DoSorting('RoleName')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Department
				<img id="sortDepartment" onclick="DoSorting('Department')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Status
				<img id="sortStatusId" onclick="DoSorting('StatusId')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Action
			</td>
		</tr>
		@if (Model.UserList.Count > 0)
		{
			foreach (var item in Model.UserList)
			{
				string lockText = "Lock";
				int updateLockStatus = StatusType.Locked.GetHashCode();

				if (item.Status == StatusType.Locked)
				{
					lockText = "Unlock";
					updateLockStatus = StatusType.Active.GetHashCode();
				}

        <tr class="smalltr">
            <td>@item.RowNum</td>
            <td><a href="/User/UserUpdate?id=@item.UserId">@item.LoginName</a></td>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td>@item.UserType.ToString()</td>
            <td>@item.Role.ToString()</td>
            <td>@item.Department</td>
            <td>@item.Status.ToString()</td>
            @if (item.UserType.GetHashCode() == UserType.Basic.GetHashCode())
            {
                <td><a onclick="UpdateStatus(@item.UserId, @updateLockStatus)">@lockText</a> &nbsp;|&nbsp;<a onclick="OpenResetPopup(@item.UserId)">Reset</a></td>
            }
            else
            {
                <td><a onclick="UpdateStatus(@item.UserId, @updateLockStatus)">@lockText</a></td>
            }

        </tr>
			}
		}
		else
		{
			<tr class="smalltr">
				<td colspan="10" style="text-align:center">No record found!</td>
			</tr>
		}
	</table>

	<div>
		@Html.Partial("~/Views/Shared/Pager.cshtml", Model.PagingModel)
	</div>

</div>
}

<!-- The Acknowledgment Modal -->
<div id="resetPasswordModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content" style="width:420px; padding-bottom:10px;">
		<div class="" style="padding-bottom:17px;">
			<div class="leftDiv " style="padding-left:7px;"><b>Reset Password</b></div>
			<div class="rightDiv "><span class="close" onclick="CloseResetModel();">&times;</span></div>
		</div>
		<p>
			<table style="margin-left:7px;margin-top:30px;margin-bottom:30px;">
				<tr>
					<td class="section-label">New Password</td>
					<td class="section-item"><input id="password" maxlength="50" name="password" size="30" class="user_input input_reset" /></td>
				</tr>
			</table>
		</p>
		<p style="width:100%; text-align:right; margin-top:10px;">
			<input type="button" id="btnReset" value="Reset" class="btn btn-outline-primary" />
			<input type="button" value="Cancel" class="btn btn-outline-primary" onclick="CloseResetModel();" />
		</p>
	</div>

</div>

<script>

	$(function () {
		$("#txtStartDate").datepicker({dateFormat: '@DateHelper.JqueryDatePickerFormat'});
		$("#txtEndDate").datepicker({ dateFormat: '@DateHelper.JqueryDatePickerFormat' });

		//Sorting
		var imgSortName = "#sort" + "@Model.SortColumn";
		var imgSortSrc = "../images/expand_active.svg";

		if ("@Model.SortOrder.ToUpper()" !== "ASC") {
			imgSortSrc = "../images/collapse_active.svg";
		}

		$(imgSortName).attr("src", imgSortSrc);
	});

	function OpenResetPopup(userid) {
		var modal = document.getElementById('resetPasswordModal');
		modal.style.display = "block";
		$('#hidResetUserId').val(userid);
		$('#password').val("");
	}

	function UpdateStatus(userId, userStatus) {
		var param = { "userId": userId, "userStatus": userStatus };

		getServerData('/User/UpdateStatus', param, (function (_this) {
			return function (responseObject) {
				if (responseObject) {
					if (responseObject === 'success')
						alert("User updated successful!");
						window.location.reload(true);
				}
				else {
					alert(responseObject);
				}
			};
		})(this));
	}

	$("#btnReset").click(function () {
		var resetUserId = $("#hidResetUserId").val();
		var password = $("#password").val();
        var param = { "resetUserId": resetUserId, "userPass": password };

        if (password == '') {
            alert("Password cannot be empty.");
            return false;
        }

        if (password.match(/^[0-9a-zA-Z]+$/i)) {

        } else {
            alert("Password only allows alphanumeric characters.");
            return false;
        }

        if (password.match(/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/)) {

        } else {
            alert("Password must have both alphabets and numbers.");
            return false;
        }

        if (password.length < 12) {
            alert("Password must be at least 12 characters.");
            return false;
        }

			getServerData('/User/ResetPassword', param, (function (_this) {
				return function (responseObject) {
					if (responseObject) {
						if (responseObject === 'success')
							alert("Reset password successful!");
							CloseResetModel();
						}
						else {
							alert(responseObject);
							CloseResetModel();
						}
				};
			})(this));
	});

	function CloseResetModel() {
		var modal = document.getElementById('resetPasswordModal');
		modal.style.display = "none";
	}

	function DoSorting(SortColumn) {

		var SortOrder = "ASC";
		if ("@Model.SortColumn" === SortColumn && "@Model.SortOrder.ToUpper()" === "ASC") {
			SortOrder = "DESC";
		}

		$("#ActionId").val(@PageAction.Sorting.GetHashCode());
		$("#hidSortColumn").val(SortColumn);
		$("#hidSortOrder").val(SortOrder);

		$("#UserListForm").submit();
	}

	$("#btnStartDate").click(function () {
		$("#txtStartDate").focus();
	});

	$("#btnEndDate").click(function () {
		$("#txtEndDate").focus();
	});


	$("#btnSearch").click(function () {
		$("#ActionId").val(2);
		$("#UserListForm").submit();
	});

	$("#btnNewUser").click(function () {
		window.location.href = "/User/UserUpdate";
	});

	function UserListPaging(page) {
		$("#ActionId").val(1);
		$("#Page").val(page);
		$("#UserListForm").submit();
	}

	$("#criterialCollapselnk").click(function () {
		criterialCollapse();
	});

	function criterialCollapse() {
		var criterialImg = $('#imgCriterialCollapse');
		var tbCriterial = $('#tbCriterial');

		var imgeSrouce = $('#imgCriterialCollapse').attr('src');

		if (imgeSrouce.indexOf("expand.svg") >= 0) {
			$(criterialImg).attr("src", "/Images/collapse.svg");
			tbCriterial.addClass("hideDisplay");
		}
		else {
			$(criterialImg).attr("src", "/Images/expand.svg");
			tbCriterial.removeClass("hideDisplay");
		}
	}
</script>
