@using Newtonsoft.Json
@using AAT.Model.ViewModel
@using AAT.Model.Utils


@model AAT.Model.ViewModel.UserViewModel
@{
	ViewBag.Title = "ArrowCrest - User";
	string optSelected;
}

@using (Html.BeginForm("Update", "User", FormMethod.Post, new { @id = "updateUserForm" }))
{
	<span class="page-title" style="padding-left:20px;">@Model.Title</span>
	<br />
	<div class="section_content leftPanel" style="padding-left:20px;">
		<div class="section_title ">General Infomation</div>
		<input type="hidden" id="UserId" name="UserId" value="@Model.User.UserId" />
		<table style="width:100%; ">
			<tr id="message-row" class="hideDisplay">
				<td class="section-label"></td>
				<td class="section-item">
					<span class="error-msg" id="errorMessage"></span>
				</td>
			</tr>
			<tr>
				<td style="width:150px;" class="section-label">User Type</td>
				<td class="section-item">
					<input @Html.Raw(Model.User.UserType == UserType.Basic ? "checked" : "") style="margin-left:5px;" type="radio" name="UserTypeId" id="basic_type" value="1"> <label for="basic_type">Basic</label>
					&nbsp;<input @Html.Raw(Model.User.UserType == UserType.Window ? "checked" : "") type="radio" name="UserTypeId" id="window_type" value="2"> <label for="window_type">Window</label>
				</td>
			</tr>
			<tr>
				<td class="section-label">Role</td>
				<td class="section-item">
					<select id="RoleId" name="RoleId" style="width:150px" class="dropdownlist user_input">
						@foreach (var item in Model.RoleList)
						{
							optSelected = Model.User.Role.GetHashCode().ToString() == item.Key.ToString() ? "selected" : "";
							<option @Html.Raw(optSelected) value="@item.Key">@item.Value</option>
						}
					</select>
				</td>
			</tr>
			
			<tr id="row-department-create-user">
				<td class="section-label">Department</td>
				<td class="section-item">
					<select id="Department" name="Department" style="width:150px" class="dropdownlist user_input">
						@if (SessionHelper.Session.User.Role == UserRole.SuperAdmin)
						{
							foreach (var item in Model.DepartmentList)
							{
								optSelected = (Model.User.DepartmentId == item.DepartmentId) ? "selected" : "";
								<option @Html.Raw(optSelected) value="@item.DepartmentId">@item.DepartmentName</option>
							}
						}
						else
						{
								<option selected="selected" value="@SessionHelper.Session.User.DepartmentId">@SessionHelper.Session.User.Department</option>
						}

					</select>
				</td>
			</tr>
			
			<tr>
				<td class="section-label"><span class="asterisk-red">*</span>Loginname</td>
				<td class="section-item">
					<input id="Loginname" name="Loginname" maxlength="50" type="text" value="@Model.User.LoginName" size="30" class="user_input"/>
				</td>
			</tr>


			<tr id="row-password">
				<td class="section-label"><span class="asterisk-red">*</span>Password</td>
				<td class="section-item"><input id="password" maxlength="50" name="password" type="password" value="@Model.User.Password" size="30" class="user_input"/></td>
			</tr>
			<tr id="row-confirm-password">
				<td class="section-label"><span class="asterisk-red">*</span>Confirm Password</td>
				<td class="section-item"><input id="ConfirmPassword" maxlength="50" name="ConfirmPassword" type="password" value="@Model.User.Password" size="30" class="user_input"/></td>
			</tr>
			<tr>
				<td class="section-label">Name</td>
				<td class="section-item"><input id="FullName" maxlength="100" name="FullName" type="text" value="@Model.User.Name" size="30" class="user_input"/></td>
			</tr>
			<tr>
				<td class="section-label">Email</td>
				<td class="section-item"><input id="Email" name="Email" maxlength="100" type="text" value="@Model.User.Email" size="30" class="user_input"/></td>
			</tr>
			<tr>
				<td class="section-label">Phone</td>
				<td class="section-item"><input id="Phone" name="Phone" maxlength="30" type="text" value="@Model.User.Phone" size="30" class="user_input" /></td>
			</tr>
			<tr class="hideDisplay">
				<td class="section-label">Active</td>
				@{
					string userActive = (Model.User.Status == StatusType.Active) ? "checked" : "";
				}
				<td class="section-item"><input id="IsActive" name="IsActive" type="checkbox" checked="@userActive" /></td>
			</tr>
            <tr>
                <td colspan=2 style="color: #ef0b0b;text-align: left; padding-left:153px;">*This field is neccessary</td>
            </tr>
			<tr style=" width:45px;">
				<td></td>
				<td>
					<input type="button" id="btnSave" value="Save" class="btn btn-outline-primary" />
					<input onclick="GoURL('/User/UserList')" type="button" id="btnClose" value="Cancel" class="btn btn-outline-primary" />
				</td>
			</tr>
		</table>
	</div>
}

<!-- The LoginName Modal -->
@*<div id="LoginNameModal" class="modal">
	<div class="modal-content">
		<div class="">
			<div class="leftDiv " style="padding-left:7px;"><b>Select User</b></div>
			<div class="rightDiv "><span class="close" onclick="CloseLoginNameModel();">&times;</span></div>
		</div>
		<p>
			<table style="width:100%;height:350px; overflow:scroll;" >
				<tr>
					<td>Name</td>
					<td><input id="loginNameModel" name="loginNameModel" maxlength="100" type="text" value="@Model.User.Phone" size="30" /></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
		</p>
		<p style="width:100%; text-align:left;">
			<input type="button" id="btnAttendingSave" value="OK" class="btn btn-outline-primary" />
			<input type="button" id="btnCloseLoginName" value="Cancel" class="btn btn-outline-primary" onclick="CloseLoginNameModel();" />
		</p>
	</div>

</div>*@

	<script>
	$(function () {

		InitData();
	});
        var userid_type=1;
        var user_create_status = 0;
        var current_usertype = "@Model.User.UserType.GetHashCode().ToString()";
	function InitData() {

        if ("@Model.User.LoginName" !== "") {
            $("#row-password").addClass("hideDisplay");
            $("#row-confirm-password").addClass("hideDisplay");
            var userrole = "@Model.User.Role.GetHashCode().ToString()";

            if (userrole == 4) {
                $("#row-department-create-user").addClass("hideOption");
            }

            user_create_status = 0;
        } else {
            user_create_status = 1;
        }
        if ("@Model.User.UserType.GetHashCode()" == "@UserType.Window.GetHashCode()") {
            UserTypeWindowClick();
        }
	}

	//function CloseLoginNameModel() {
	//	var modal = document.getElementById('LoginNameModal');
	//	modal.style.display = "none";
	//}


	function UserTypeWindowClick() {
		$("#row-password").addClass("hideDisplay");
        $("#row-confirm-password").addClass("hideDisplay");
        userid_type = 2;
	}

	$('input:radio[name="UserTypeId"]').change(
		function () {
           
            if (current_usertype == 2) {
                if ($(this).val() == '1') { //Basic
                    $("#row-password").removeClass("hideDisplay");
                    $("#row-confirm-password").removeClass("hideDisplay");
                    $("#password").val("");
                    $("#ConfirmPassword").val("");
                    userid_type = 1;
                }
                else {  //Window
                    UserTypeWindowClick();
                }
            } else {
                if ("@Model.User.LoginName" !== "") {
                    if ($(this).val() == '1') { //Basic
                        userid_type = 1;
                    }
                    else {  //Window
                        UserTypeWindowClick();
                    }
                } else {
                    if ($(this).val() == '1') { //Basic
                        $("#row-password").removeClass("hideDisplay");
                        $("#row-confirm-password").removeClass("hideDisplay");
                        userid_type = 1;
                    }
                    else {  //Window
                        UserTypeWindowClick();
                    }
                }

            }

		});

	function DisplayMessage(message) {
		$('#errorMessage').text(message);
		$("#message-row").removeClass("hideDisplay");
	}

	function CheckValidInput() {

		var UserId = $('#UserId').val();
		var usertype = $('#usertype').val();
		var Loginname = $('#Loginname').val();
		var password = $('#password').val();
		var email = $('#Email').val();
		var ConfirmPassword = $('#ConfirmPassword').val();

		if (Loginname == '') {
			DisplayMessage("Please input Login Name.");
			$('#Loginname').focus();
			return false;
        }

        if (Loginname.match(" ")) {
            DisplayMessage("Login Name must not contain any spacing");
            $('#Loginname').focus();
            return false;
        }

        if (Loginname.length < 5) {
			DisplayMessage("Login Name must be more than 5 characters");
			$('#Loginname').focus();
			return false;
		}



        if (((user_create_status == 1) && (userid_type == 1) && (current_usertype == 1)) ||
            ((user_create_status == 0) && (userid_type == 1) && (current_usertype == 2))) {
            if (password == '') {
                DisplayMessage("Password cannot be empty.");
                $('#password').focus();
                return false;
            }

            if (!(password.match(/^[0-9a-zA-Z]+$/i))) {
                DisplayMessage("Password only allows alphanumeric characters.");
                $('#password').focus();
                return false;
            }

            if (!(password.match(/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/))) {
                DisplayMessage("Password must have both alphabets and numbers.");
                $('#password').focus();
                return false;
            }

            if (password.length < 12) {
                DisplayMessage("Password must be at least 12 characters.");
                $('#password').focus();
                return false;
            }

            if (ConfirmPassword == '') {
                DisplayMessage("Please type in your confirm password.");
                return false;
            }

            if (password != ConfirmPassword) {
                DisplayMessage("Password and Confirm Password didn't match.");
                $('#password').focus();
                return false;
            }

        } else if ((user_create_status == 0) && (userid_type == 2)) {

        }


		if (email.length > 0 && !IsValidEmail(email)) {
			DisplayMessage("The email address is invalid.");
			$('#Email').focus();
			return false;
		}

		//if (UserId.length > 0) {  //Update

		//}
		//else {  //Insert

        

		return true;
	}



	$('#btnSave').click(function () {
		var UserId = $('#UserId').val();
		var Loginname = $('#Loginname').val();

		if (!CheckValidInput()) {
			return;
		}

		var param = { "loginname": Loginname, "originalname": "@Model.User.LoginName" };

		getServerData('/User/CheckExistedLoginName', param, (function (_this) {
			return function (responseObject) {

				if (responseObject) {
					if (responseObject == '1') {
						$("#updateUserForm").submit();
					}
					else {
						DisplayMessage(responseObject);
						return;
					}
				}
			};
		})(this));

        });


        $("#RoleId").on("change", function (e) {
            if ($(this).val()=="4"){
                $("#row-department-create-user").addClass("hideOption");
            } else {
                $("#row-department-create-user").removeClass("hideOption");
            }
        });
	</script>
