﻿@using AAT.Utils
@using AAT.Model
@using AAT.Model.Utils
@using Newtonsoft.Json
@using System.Linq;

@model AAT.Model.ViewModel.ClassViewModel

@{
    ViewBag.Title = "Attending";
    string currentDate = DateHelper.FormatDateMonthInName(DateTime.Now);
    int indexCount = 0;
    bool hasAttendManualRole = false;
    string rowId;
    if (SessionHelper.Session.User.Role == UserRole.Admin || SessionHelper.Session.User.Role == UserRole.SuperAdmin)
    {
        hasAttendManualRole = true;
    }

    short validAddAttending = 0;
    if (((Model.Class.ClassStatusID == ClassStatus.OnGoing.GetHashCode()
        || Model.Class.ClassStatusID == ClassStatus.PendingAcknowledge.GetHashCode())
        && (Model.Class.EndDate.Value != null && DateTime.Now.Date <= Model.Class.EndDate.Value.Date)
        && (Model.Class.StartDate.Value != null && DateTime.Now.Date >= Model.Class.StartDate.Value.Date)))
    {
        validAddAttending = 1;
    }

    else if((DateHelper.FormatDateMonthInName(Model.Class.EndDate) == DateTime.Now.ToString("dd MMM yyyy"))&& (hasAttendManualRole = true))
    {
        validAddAttending = 1;
    }

    int trainerCount = Model.Class.TrainerList.Count + Model.Class.AcknowledgementExtraList.Count;
        }

@using (Html.BeginForm("ClassAttendingAction", "Class", FormMethod.Post, new { @id = "classAttendingForm" }))
{
	<div style="width: 100%; min-width:800px;">

        <div class="back-container">
			@*<a href="/Class/ClassList">*@
            <div class="btn-back btn-back-class-details"> < Back </div>
            @*</a>*@
		</div>
		<input type="hidden" id="ClassId" name="ClassId" value="@Model.Class.ClassID" />
		<input type="hidden" id="ClassDate" name="ClassDate" value="@DateHelper.FormatDate(Model.ClassDate)" />
		@Html.Hidden("ActionId")
		@Html.Hidden("hidAttendingRemark")
		@Html.Hidden("hidLearnerClassDateId")
		@Html.Hidden("hidRemarkAction")
		@Html.Hidden("hidLastAttendIndex")

		@Html.Hidden("hidLearnerNotPresentSort", Model.LearnerNotPresentSort)
		@Html.Hidden("hidLearnerNotPresentSortDir", Model.LearnerNotPresentSortDir)
		@Html.Hidden("hidLearnerPresentSort", Model.LearnerPresentSort)
		@Html.Hidden("hidLearnerPresentSortDir", Model.LearnerPresentSortDir)

		<FIELDSET style="margin-left:22px;margin-right:22px; padding-top:3px;">
			<LEGEND>Class Summary</LEGEND>

            <table style="width:100%;">
                <colgroup>
                    <col width="100" />
                </colgroup>
                <tr>
                    <td class="label-col">Class ID: </td>
                    <td class="SummaryText">@Model.Class.ClassID</td>

                    <td class="label-col">Course ID: </td>
                    <td class="SummaryText">@Model.Class.CourseId</td>

                    <td class="label-col">Start Date: </td>
                    <td class="SummaryText">@DateHelper.FormatDateMonthInName(Model.Class.StartDate)</td>
                    <td class="label-col">End Date: </td>
                    <td class="SummaryText">@DateHelper.FormatDateMonthInName(Model.Class.EndDate)</td>
                    <td rowspan="3" class="tb-last-col">
                        @{
                            var hideDivClock = "";
                            if (Model.Class.ClassStatusID != ClassStatus.OnGoing.GetHashCode())
                            {
                                hideDivClock = "hideDisplay";
                            }
                        }
                        <div class="@hideDivClock">
                            <span style="display:block" id="current_date">@currentDate</span>
                            <span id="current_time"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label-col">Status: </td>
                    <td class="SummaryText">@EnumsHelper.GetClassStatusString(Model.Class.ClassStatusID)</td>
                    <td class="label-col" style="white-space:nowrap;">Course Name: </td>
                    <td class="SummaryText" colspan="5">@Model.Class.CourseName</td>
                </tr>
                <tr>
                    <td class="label-col td-align-top" colspan="1">
                        <span>Instructor:</span>
                    </td>
                    <td class="SummaryText td-align-top" colspan="7">
                        @{


                            string trainerlist = String.Join(", ", Model.Class.TrainerList.Select(x => x.TrainerName).ToArray());
                            <span style="display:inline-block;">@trainerlist</span>
                        }


                    </td>
                </tr>
            </table>
		</FIELDSET>

		<br />
		<div id="container">
			<div id="left" class="col col-xs-4 text-left" style="">
				<fieldset style="min-height:350px;">
					<legend>Attendance List</legend>
					@{
						var attendingDivHeight = "252px;";
						var staffIdPaddingRight = "30px";

						//if (hasAttendManualRole && validAddAttending == 1)
						//{
						//    attendingDivHeight = "225px;";
						//    staffIdPaddingRight = "45px";
						//}

						attendingDivHeight = "225px;";
						staffIdPaddingRight = "45px";
					}
					<div>


						<table style="width:100%; table-layout:fixed; " class="fixed_header">
							<thead>
                                <tr class="headder-row">
                                    @if (hasAttendManualRole)
                                    {
                                        
                                        <td class="left-table-space" style="text-align:center;">&nbsp;&nbsp;&nbsp;</td>
                                        <td class="left-table-indexCount-1" style="text-align:left;">#&nbsp;&nbsp;</td>
                                        <td class="left-table-Name-1 pointer-cursor" onclick="LearnerNotPresentSort('LearnerName')">Name</td>
                                        <td class="left-table-StaffID-1 pointer-cursor col-staffID" onclick="LearnerNotPresentSort('StaffID')" style="white-space:nowrap;">Staff ID</td>
                                    }
                                    else
                                    {
                                       
                                        <td class="left-table-indexCount-2" style="text-align:center;">#</td>
                                        <td class="left-table-Name-2 pointer-cursor" onclick="LearnerNotPresentSort('LearnerName')">Name</td>
                                        <td class="left-table-StaffID-2 pointer-cursor col-staffIDr col-staffID" onclick="LearnerNotPresentSort('StaffID')" style="white-space:nowrap;">Staff ID</td>
                                    }
                                </tr>
							</thead>
							<tbody style="height:@attendingDivHeight" id="tbAttendanceList">
								@{
									indexCount = 0;
								}
								@foreach (var item in Model.LearnerNotPresent)
								{
									rowId = "rowLearner" + @item.StaffID;
									indexCount++;
                                <tr id="@rowId">
                                    @if (hasAttendManualRole && validAddAttending == 1)
                                    {
                                        <td class="left-table-space" style="text-align:center;">
                                            <input class="chkAttendAvailable" name="chkAttendAvailable" value="@item.StaffID" type="checkbox" />
                                        </td>
                                        <td class="left-table-indexCount-1" style="text-align:left;">@indexCount</td>
                                        <td class="left-table-Name-1" style="">@item.LearnerName</td>
                                        <td class="left-table-StaffID-1" style="">@item.StaffID</td>

                                    }
                                    else
                                    {
                                        <td class="left-table-indexCount-1" style="text-align:center;">@indexCount</td>
                                        <td class="left-table-Name-2" style="">@item.LearnerName</td>
                                        <td class="left-table-StaffID-2" style="">@item.StaffID</td>
                                    }

                                </tr>
								}
							</tbody>

						</table>
					</div>

					<div style="position:absolute;bottom:0; text-align:right;">
						@if (hasAttendManualRole && validAddAttending == 1)
						{
							<input id="btnAttending" type="button" class="btn btn-outline-primary" value="Present" />
						}
						<input id="btnRefresh" type="button" class="btn btn-outline-primary" value="Refresh"/>
					</div>



				</fieldset>

			</div>
			<div id="center" class="col col-xs-3 text-left" style="">

				<fieldset id="verification_box" style="height:350px;">
					<legend>Verification</legend>
					<table style="width:100%; margin-top:15px;">

						<tr>
							<td colspan="2" style="text-align:center;">
								<img id="rfidPhoto" class="verifyphoto" src="~/Images/me.png" />
							</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center;" class="verification-row">
								<span class="label-col">Name:</span><b id="rfidName"></b>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center;" class="verification-row">
								<span class="label-col">Staff ID:</span><b id="rfidStaffId"></b>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:center;" class="verification-row">
								<span class="label-col">Status:</span><b id="rfidStatus"></b>
							</td>
						</tr>
					</table>
				</fieldset>
                <audio id="invalid_beep" src="~/Audios/error_beep_long.mp3" preload="auto"></audio>
			</div>
			<div id="right" class="col col-xs-5 text-left" style="">
				<fieldset style="min-height:350px;">
					<legend>Present</legend>
					<table style="table-layout:fixed; text-align:left; " class="fixed_header">
						<thead>
                            <tr class="right-table-col headder-row" style="white-space: nowrap;">
                                <td class="right-table-indexCount">#&nbsp;</td>
                                <td class="right-table-Name pointer-cursor" onclick="LearnerPresentSort('LearnerName')">Name</td>
                                <td class="right-table-StaffID pointer-cursor" onclick="LearnerPresentSort('StaffId')">Staff ID</td>
                                <td class="right-table-Time pointer-cursor" onclick="LearnerPresentSort('CheckInTime')">Time In</td>
                                <td class="right-table-Remarks">Remarks</td>
                            </tr>
						</thead>
						<tbody id="tbLearnerPresent" style="height:248px;">
							@{
								indexCount = 0;
							}
							@foreach (var item in Model.LearnerPresent)
							{
								indexCount++;
								string remarkText = item.Remark;
								if (string.IsNullOrEmpty(remarkText))
								{
									remarkText = "...";
								}


								<tr class="smalltr">
									<td class="right-table-indexCount">@indexCount</td>
									<td class="right-table-Name">@item.LearnerName</td>
									<td class="right-table-StaffID">@item.StaffId</td>
									<td class="right-table-Time" style="text-align:left;">@DateHelper.FormatTime(item.CheckInTime)</td>
									<td class="right-table-Remarks" style="text-align:left;">
										<a id="remark-preview" onclick="EditRemark(@item.LearnerClassDateId);" title="@item.Remark">@remarkText</a>
										<input type="hidden" id="remark_@item.LearnerClassDateId" value="@item.Remark" />

									</td>

								</tr>
							}
						</tbody>
					</table>
				</fieldset>

			</div>
		</div>

		<div style="clear:both;"></div>
		@if ((Model.IsAcknowledgementDate()) && ((Model.Class.ClassStatusID == ClassStatus.OnGoing.GetHashCode())|| (Model.Class.ClassStatusID == ClassStatus.PendingAcknowledge.GetHashCode())))

        {
			<div style=" text-align:right; padding-right:17px;">
				<input id="btnAcknowledgement" type="button" class="btn btn-outline-primary" value="Acknowledgement" style="margin-bottom:15px; " />
			</div>
		}
	</div>
}
<!-- The Remark Modal -->
<div id="remarkModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content remark_custom_modal">
		<div class="remark_title">
			<div class="leftDiv " style="padding-left:7px;"><b>Remark</b></div>
			<div class="rightDiv "><span class="close" onclick="CloseRemarkModel();">&times;</span></div>
		</div>
        <div class="remark_option">
            <div>Please select one option:</div>
            <select id="select_remark_dropdown" onchange="selectremark()">
                <option id="opt_default" value=""> --Select One--</option>
                <option id="opt_mc" value="MC">MC</option>
                <option id="opt_meeting" value="Attending Meeting">Attending Meeting</option>
                <option id="opt_absent" value="Absent">Absent</option>
                <option id="opt_gsa" value="GSA / Service Partner">GSA / Service Partner</option>
                <option id="opt_leave" value="Leave">Leave</option>
                <option id="opt_forgot" value="Forgot to bring ID">Forgot to bring ID</option>
                <option id="opt_scootstaff" value="Scoot Staff">Scoot Staff</option>
                <option id="opt_others" value="Others">Others</option>
            </select> 
            <div id="others_selected" class="hideOption">If others, please specify:<input id="others_remark" style="width:100%;" type="text"/></div>
        </div>
        @*<p>
            <textarea id="attendingRemark" name="attendingRemark" cols="600" rows="10"
                      style="width:100%; margin:7px;"></textarea>
        </p>*@
		<div class="remark_button">
			<input type="button" id="btnModelAttendingSave" value="Submit" class="btn btn-outline-primary" />
			<input type="button" id="btnCloseRemark" value="Cancel" class="btn btn-outline-primary" onclick="CloseRemarkModel();" />
		</div>
	</div>

</div>

<!-- The Acknowledgment Modal -->
<div id="acknowledgementModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content" style="width:420px; padding-bottom:10px;">
		<div class="" style="padding-bottom:17px;">
			<div class="leftDiv " style="padding-left:7px;"><b>Acknowledgement</b></div>
			<div class="rightDiv "><span class="close" onclick="CloseAcknowlegementModel();">&times;</span></div>
		</div>
		<p>
			<table style="margin-left:7px;">
				<tbody id="tb_trainner_ack">
					@foreach (var item in Model.Class.TrainerList)
					{
						<tr>
							<td style="width:20px;">
								@if (item.AcknowledgementDate != null)
								{
									@Html.CheckBox("chkAcknowlegement", new { value = item.TrainerId, @checked = true, @disabled = true });
								}
								else
								{
									@Html.CheckBox("chkAcknowlegement", new { value = item.TrainerId });
								}
							</td>
							<td>@item.TrainerName </td>
						</tr>
					}

					@foreach (var item in Model.Class.AcknowledgementExtraList)
					{
						<tr>
							<td style="width:20px;">
								@Html.CheckBox("chkAcknowlegementExtra", new { value = item.TrainerName, @checked = true, @disabled = true })
							</td>
							<td>@item.TrainerName </td>
						</tr>
					}

					@for (int i = trainerCount; i < 5; i++)
					{
						<tr>
							<td style="width:20px;">
								<input onchange=chckAckName(@i); name="chkAck_extra" id="chkAck_addin_@i" type="checkbox" />
							</td>
							<td>
								<input size="50" name="txtAck_extra" id="chkAck_addin_name_@i" type="text" style="width:90%;" disabled />
							</td>
						</tr>
					}
				</tbody>
			</table>
		</p>
		<p style="width:100%; text-align:right; margin-top:10px;">
			<input type="button" id="btnAcknowledgementSave" value="OK" class="btn btn-outline-primary" />
			<input type="button" value="Cancel" class="btn btn-outline-primary" onclick="CloseAcknowlegementBox();" />
		</p>
	</div>

</div>
<script type="text/javascript" src="~/Scripts/jquery.rfid.js"></script>
<script>

	$(function () {
		startTime();

		if (@validAddAttending === 1) {
			// Initialize the plugin.
			$.rfidscan({
				parser: rfidParser,
				success: goodScan,
				error: badScan
			});
		}

		//
		var leanerAttendedCount = @Model.LearnerPresent.Count
		$("#hidLastAttendIndex").val(leanerAttendedCount);

        $(".btn-back").click(function () {
            parent.history.back();
            return false;
        });
	});

    function selectremark() {
        if ($("#opt_others").is(":selected")) {
            $("#others_selected").removeClass("hideOption");
        } else {
            $("#others_selected").addClass("hideOption");
        }
    }

	function LearnerNotPresentSort(softCol) {
		var hidLearnerNotPresentSort = $("#hidLearnerNotPresentSort").val();
		var hidLearnerNotPresentSortDir = $("#hidLearnerNotPresentSortDir").val();

		if (softCol === hidLearnerNotPresentSort) {
			if (hidLearnerNotPresentSortDir === "ASC") {
				$("#hidLearnerNotPresentSortDir").val("DESC");
			}
			else {
				$("#hidLearnerNotPresentSortDir").val("ASC");
			}
		}
		else {
			$("#hidLearnerNotPresentSort").val(softCol);
			$("#hidLearnerNotPresentSortDir").val("ASC");
		}

		$("#ActionId").val(@PageAction.Sorting.GetHashCode());
		$("#classAttendingForm").submit();
	}

	function LearnerPresentSort(softCol) {
		var hidLearnerPresentSort = $("#hidLearnerPresentSort").val();
		var hidLearnerPresentSortDir = $("#hidLearnerPresentSortDir").val();

		if (softCol === hidLearnerPresentSort) {
			if (hidLearnerPresentSortDir === "ASC") {
				$("#hidLearnerPresentSortDir").val("DESC");
			}
			else {
				$("#hidLearnerPresentSortDir").val("ASC");
			}
		}
		else {
			$("#hidLearnerPresentSort").val(softCol);
			$("#hidLearnerPresentSortDir").val("ASC");
		}

		$("#ActionId").val(@PageAction.Sorting.GetHashCode());
		$("#classAttendingForm").submit();
	}

    function chckAckName(input)
    {
        var txtboxname = "#chkAck_addin_name_" + input;
        var txtchkname = "#chkAck_addin_" + input;

        $(txtboxname).attr("disabled", !$(txtchkname).is(':checked'));

    }

	// Parses raw scan into name and ID number
	var rfidParser = function (rawData) {
		//if (rawData.length !== 11) return null;
		//else return rawData;
		return rawData;
	};

	var goodScan = function (cardData) {
		var param = { "classId": '@Model.Class.ClassID', "classDate": "@Model.ClassDate", "cardId": cardData };

		getServerData('/Class/RFIDAttendingUpdate', param, (function (_this) {
			return function (responseObject) {
				if (responseObject) {
					var Name = responseObject.Name;
					var Status = responseObject.Status;
					var StaffId = responseObject.StaffId;
					var Base64Image = responseObject.Base64Image;
					var LearnerClassDateId = responseObject.LearnerClassDateId;
					var TimeIn = responseObject.TimeIn;

                    if (!TimeIn) {
                        var today = new Date();
                        var h = today.getHours();
                        var m = today.getMinutes();

                        m = checkTime(m);

                        TimeIn = h + ":" + m;

                    }

					$("#rfidName").text(Name);
					$("#rfidStaffId").text(StaffId);
					$("#rfidStatus").text(Status);

					if (Base64Image && Base64Image.length > 0) {
						$("#rfidPhoto").attr("src", Base64Image);
					}
					else {
						$("#rfidPhoto").attr("src", "/Images/me.png");
					}

					if (Status === "Valid") {
                        $("#rfidStatus").removeClass("invalid-card-msg").addClass("valid-card-msg");

                        $("#rowLearner" + StaffId).remove();
                        Update_LeftIndexRow();

                        if ($("#verification_box").hasClass("invalid-learner-red")) {
                            $("#verification_box").removeClass("invalid-learner-red");
                        }

                        $("#verification_box").addClass("valid-learner-green");

						var lastAttendIndex = $("#hidLastAttendIndex").val();
						lastAttendIndex = parseInt(lastAttendIndex) + 1;
						$("#hidLastAttendIndex").val(lastAttendIndex);

                        var learnerRow =
                            "<tr class='smalltr'>" +
                            "<td class='right-table-indexCount'>" + 1 +"</td>" +
                            "<td class='right-table-Name'>" + Name + "</td>" +
                            "<td class='right-table-StaffID'>" + StaffId + "</td >" +
							"<td class='right-table-Time' style='text-align:left;'>" + TimeIn + "</td>"+
							"<td class='right-table-Remarks' style='text-align:left;'>"+
							"<a id='remark-preview' onclick='EditRemark(" + LearnerClassDateId + ");'>...</a>"+
							"<input type='hidden' id='remark_" + LearnerClassDateId + "' value='' />" +
							"</td>" +
							"</tr>";

                        changeIndexRow();

                        var html_string_present = $("#tbLearnerPresent").html();
                        var html_string_new = learnerRow + html_string_present;

                        $("#tbLearnerPresent").html(html_string_new);

					}
                    else {
                        if ($("#verification_box").hasClass("valid-learner-green")) {
                            $("#verification_box").removeClass("valid-learner-green");
                        }
                        var x = document.getElementById("invalid_beep");
                        x.play();
                        $("#verification_box").addClass("invalid-learner-red");
						$("#rfidStatus").removeClass("valid-card-msg").addClass("invalid-card-msg");
					}
				}
			};
		})(this));
	};

    function changeIndexRow() {
        var current_totalrows = $("#tbLearnerPresent").find("tr");
        var indexInital = 1;

        for (var i = 0; i < current_totalrows.length; i++) {
            var cols = $(current_totalrows[i]).find('td');
            for (var j = 0; j < cols.length; j++) {
                if (j == 0) {
                    var col = cols[j];
                    col.innerHTML = indexInital + i + 1;
                }
            }
        }
    }

    function Update_LeftIndexRow() {
        
        var current_attendrows = $("#tbAttendanceList").find("tr");
        var indexInital = 1;
        var colIndex;

        var hasAttendManualRole = "@hasAttendManualRole".toUpperCase();
        var colIndex = (hasAttendManualRole === "TRUE") ? 1 :0;

        for (var i = 0; i < current_attendrows.length; i++) {

            var cols = $(current_attendrows[i]).find('td');
            var col = cols[colIndex];
            col.innerHTML = indexInital++;
          
        }
    }


	// Called on a bad scan (company card not recognized)
	var badScan = function () {

	};

	$('#btnAcknowledgementSave').click(function () {

		var acknowList = [];
		$("input:checkbox[name=chkAcknowlegement]").each(function () {
			if ($(this).is(':checked')) {
				if (!$(this).is(':disabled')) {
					acknowList.push($(this).val());
				}
			}
        });

        var acknowListExtra = [];
        $("input:text[name=txtAck_extra]").each(function () {
            if ((!$(this).is(':disabled'))&&($(this).val())) {
                acknowListExtra.push($(this).val());
            }
        });

        if ((acknowList.length > 0) || (acknowListExtra.length > 0)) {

			var extratrainers = acknowListExtra.toString();
            var param = {
				"classId": '@Model.Class.ClassID', "trainers": acknowList.toString(), "extratrainers": extratrainers
            };
            getServerData('/Class/UpdateAcknowledgement', param, (function (_this) {
                return function (responseObject) {
                    if (responseObject) {
						if (responseObject == 'success')
							window.location.reload(true);
							//CloseAcknowlegementModel();
                    }
                    else {
                        alert(responseObject);
                    }
                };
            })(this));

        } else {
            alert("Acknowledgement cannot be empty.");
        }

	});

	function EditRemark(learnerClassDateId)
	{
        var remark = $("#remark_" + learnerClassDateId).val();
        if (remark == "MC") {
            $("#opt_mc").attr('selected', true);
        } else if (remark == "Attending Meeting") {
            $("#opt_meeting").attr('selected', true);
        } else if (remark == "Absent") {
            $("#opt_absent").attr('selected', true);
        } else if (remark.match("GSA")) {
            $("#opt_gsa").attr('selected', true);
        } else if (remark == "Leave") {
            $("#opt_leave").attr('selected', true);
        } else if (remark == "Forgot to bring ID") {
            $("#opt_forgot").attr('selected', true);
        } else if (remark == "Scoot Staff") {
            $("#opt_scootstaff").attr('selected', true);
        } else if (remark == "Others") {
            $("#opt_others").attr('selected', true);
            $("#others_selected").removeClass("hideOption");
            $("#others_remark").val();
        } else if (remark == "") {
            $("#opt_default").attr('selected', true);
        } else {
            $("#opt_others").attr('selected', true);
            $("#others_selected").removeClass("hideOption");
            $("#others_remark").val(remark);
        }

        //$("#attendingRemark").val(remark);

		$("#hidLearnerClassDateId").val(learnerClassDateId);

		var testvalue = $("#hidLearnerClassDateId").val();
		$("#hidRemarkAction").val('EDIT');

		ShowRemarkModel();
	}

	function ShowRemarkModel() {
		var modal = document.getElementById('remarkModal');
		modal.style.display = "block";
		UnbindScanner();
	}

	$('#btnModelAttendingSave').click(function () {

		//var remark = $("#attendingRemark").val();
        var selected_remark = $("#select_remark_dropdown").children("option:selected").val();
        var remark = selected_remark;
        var remark_others_field = $("#others_remark").val();
		if ($.trim(remark).length === 0) {
			alert("Please select one remark!");
			return;
		}
        if ($("#others_selected").hasClass("hideOption")){
            $("#hidAttendingRemark").val(remark);
        } else {
            if (remark_others_field == "") {
                $("#hidAttendingRemark").val("Others");
            } else {
                $("#hidAttendingRemark").val(remark_others_field);
            }
        }


		$("#ActionId").val(@PageAction.Attending.GetHashCode());
		$("#classAttendingForm").submit();
	});

	function startTime() {
		var today = new Date();
		var h = today.getHours();
		var m = today.getMinutes();
		var s = today.getSeconds();
		m = checkTime(m);
		s = checkTime(s);
		document.getElementById('current_time').innerHTML =
			h + ":" + m + ":" + s;
		var t = setTimeout(startTime, 500);
	}

	function checkTime(i) {
		if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
		return i;
	}


	$('#btnAttending').click(function () {

		var arr = [];
		$('input.chkAttendAvailable:checkbox:checked').each(function () {
			arr.push($(this).val());
		});

		if (arr.length > 0) {

			$("#hidLearnerClassDateId").val('');
			$("#attendingRemark").val('');

			$("#hidRemarkAction").val('ADD');

			ShowRemarkModel();
		}

	});

    $('#btnRefresh').click(function () {
        location.reload(true);

    });

	function UnbindScanner() {

		$(document).unbind(".rfidscan");
	}

	function BindScanner() {
		$(document).bind("keypress.rfidscan", listener);
	}

	$('#btnAcknowledgement').click(function () {
		var modal = document.getElementById('acknowledgementModal');
        modal.style.display = "block";
        UnbindScanner();
	});

	function CloseAcknowlegementModel() {
		var modal = document.getElementById('acknowledgementModal');
        modal.style.display = "none";
        window.location.reload(true);
	}

	function CloseRemarkModel() {
		var modal = document.getElementById('remarkModal');
		modal.style.display = "none";
        window.location.href = "/Class/details?id=@Model.Class.ClassID";

	}

    function CloseAcknowlegementBox() {
        var modal = document.getElementById('acknowledgementModal');
        modal.style.display = "none";
    }





</script>