﻿@using AAT.Utils
@using AAT.Model
@using AAT.Model.Utils

@model AAT.Model.ViewModel.ClassTimingViewModel

@{
    ViewBag.Title = "Home Page";
    string currentDate = DateHelper.FormatDateMonthInName(DateTime.Now);
    int indexCount = 0;
}

@using (Html.BeginForm("EditAcknowledgementExtraAction", "Class", FormMethod.Post, new { @id = "editAcknowledgementExtraForm" }))
{
<div style="width: 100%; min-width:800px;">
    @Html.Hidden("hidLearnerSort", Model.LearnerSort)
    @Html.Hidden("hidLearnerSortDir", Model.LearnerSoftDir)

    @Html.Hidden("hidAcknowledgementExtraId")
    @Html.Hidden("hidAcknowledgementExtraName")
    @Html.Hidden("ActionId")
    @Html.Hidden("hidAcknowledgementExtraAction")
    <div class="back-container">
        <a href="/Class/ClassList"><div class="btn-back btn-back-class-timing"> < Back </div></a>
    </div>
    <input type="hidden" id="ClassId" name="ClassId" value="@Model.Class.ClassID" />
    <FIELDSET style="margin-left:22px;margin-right:22px;">
        <LEGEND>Class Summary</LEGEND>

        <table style="width:100%;">
            <colgroup>
                <col width="100" />
            </colgroup>
            <tr>
                <td class="label-col">Class ID </td>
                <td class="SummaryText">@Model.Class.ClassID</td>
                <td class="label-col">Course ID</td>
                <td class="SummaryText">@Model.Class.CourseId</td>
                <td class="label-col">Start Date</td>
                <td class="SummaryText">@DateHelper.FormatDateMonthInName(Model.Class.StartDate)</td>
                <td class="label-col">End Date</td>
                <td class="SummaryText">@DateHelper.FormatDateMonthInName(Model.Class.EndDate)</td>
            </tr>
            <tr>
                <td class="label-col">Status</td>
                <td class="SummaryText">@EnumsHelper.GetClassStatusString(Model.Class.ClassStatusID)</td>
                <td class="label-col" style="white-space:nowrap;">Course Name</td>
                <td class="SummaryText" colspan="6">@Model.Class.CourseName</td>
            </tr>
        </table>

    </FIELDSET>
    <div id="timmingContainer" style="margin-left:10px; margin-right:10px;">
        <div style="width:100%;" class="bottomborder">Class Details</div>
        <table class="listview-tb custom-tb">
            <tr class="headder-row">
                <td>Date</td>
                <td style="text-align:center">Total Registered</td>
                <td style="text-align:center">Present</td>
                <td style="text-align:center">Absent</td>
            </tr>
            <tbody class="table-body-wrapper">
                @foreach (var item in Model.LearnerClassDateSummaries)
                {
                    <tr>
                        <td>@DateHelper.FormatDateMonthInName(item.ClassDate)</td>
                        <td style="text-align:center">@item.TotalRegister</td>
                        <td style="text-align:center">@item.Present</td>
                        <td style="text-align:center">@item.Absent</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div id="container">
        <div id="left" class="col col-xs-6 text-left" style="">
            <div style="width:100%;" class="bottomborder">Instructor</div>
            <table style="width:100%; table-layout:fixed; " class="fixed_header">
                <thead>
                    <tr style="display: flex;align-items: stretch;" class="headder-row bottomborder">
                        <td style="width:50px; text-align:center">#</td>
                        <td style="width:100px; text-align:left">Instructor ID</td>
                        <td style="text-align:left; flex:1; display:inline-block; padding-left:12px;">Name</td>
                    </tr>
                </thead>
                <tbody style="height:161px;">
                    @{
                        indexCount = 0;
                    }

                    @foreach (var item in Model.Class.TrainerList)
                    {
                        indexCount++;
                        <tr style="display: flex;align-items: stretch;">
                            <td style="width:50px; text-align:center">@indexCount</td>
                            <td style="width:100px; text-align:left">@item.TrainerId</td>
                            <td style="text-align:left; display:inline-block; padding-left:12px;">@item.TrainerName</td>
                        </tr>
                    }

                    @foreach (var item in Model.Class.AcknowledgementExtraList)
                    {
                        indexCount++;
						<tr style="display: flex;align-items: stretch;">
							<td style="width:50px; text-align:center">@indexCount</td>
							<td style="width:100px; text-align:left"></td>
							<td style="text-align:left; display:inline-block; padding-left:12px;">@item.TrainerName</td>
							@if (SessionHelper.Session.User.Role == AAT.Model.Utils.UserRole.Admin
								|| SessionHelper.Session.User.Role == AAT.Model.Utils.UserRole.SuperAdmin)
							{
								<td class="btn-edit-ack" onclick="EditAcknowledgeExtra(@item.AcknowledgementExtraId)">
									<i class="far fa-edit"></i>
									<input type="hidden" id="extraAck_@item.AcknowledgementExtraId" value="@item.TrainerName" />
								</td>
							}
						</tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="center" class="col col-xs-6 text-left" style="">
            <div style="width:100%;" class="bottomborder">Learner</div>

            <table style="width:100%; table-layout:fixed; " class="fixed_header">

                <thead>
                    <tr class="headder-row bottomborder">
                        <td style="width:50px; text-align:center">#</td>
                        <td class="pointer-cursor" style="width:100px; text-align:left" onclick="LearnerSort('StaffID')">Staff ID</td>
                        <td class="pointer-cursor" onclick="LearnerSort('LearnerName')">Name</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        indexCount = 0;
                    }

                    @foreach (var item in Model.Class.LearnerList)
                    {
                        indexCount++;
                        <tr style="display: flex;align-items: stretch;">
                            <td style="width:50px; text-align:center">@indexCount</td>
                            <td style="width:100px; text-align:left"><a href="/Learner/Details?classId=@Model.Class.ClassID&staffId=@item.StaffID">@item.StaffID</a></td>
                            <td>@item.LearnerName</td>
                            <td style="text-align:right; flex:1; display:inline-block; padding-right:12px;">
                                <img onclick="ExportPDF('@item.StaffID');" id="btnPdf" class="export-img-btn" src="~/Images/pdf.jpg">
                                <img onclick="ExportExcel('@item.StaffID');" id="btnExcel" class="export-img-btn" src="~/Images/excel.png">
                                <img onclick="ExportWord('@item.StaffID');" id="btnWorld" class="export-img-btn" src="~/Images/word.png">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div style="clear:both;"></div>

</div>
 }
<!-- The Edit Extra Acknowledgement Modal -->
<div id="editExtraAcknowledgeModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" style="width:500px;">
        <div class="">
            <div class="leftDiv " style="padding-left:7px;"><b>Edit Trainer Name</b></div>
            <div class="rightDiv "><span class="close" onclick="CloseEditAckModel();">&times;</span></div>
        </div>
        <p>
            <input type="text" id="editExtraAcknowledgeBox" name="editExtraAcknowledgeBox"
                      style="width:100%; margin:7px;">
        </p>
        <p style="width:100%; text-align:right;">
            <input type="button" id="btnModelEditAckSave" value="Submit" class="btn btn-outline-primary" />
            <input type="button" id="btnCloseEditAck" value="Cancel" class="btn btn-outline-primary" onclick="CloseEditAckModel();" />
        </p>
    </div>

</div>
<script>

    $(function () {
        $(".btn-back").click(function () {
            parent.history.back();
            return false;
        });
    });

	function LearnerSort(softCol) {
		var hidLearnerSort = $("#hidLearnerSort").val();
		var hidLearnerSortDir = $("#hidLearnerSortDir").val();
		var targetSort = "ASC";
		if (softCol === hidLearnerSort) {
			if (hidLearnerSortDir === "ASC") {
				targetSort = "DESC";
			}
		}

		window.location.href = "/Class/Timing?id=@Model.Class.ClassID" + "&lnsort=" + softCol + "," + targetSort;
	}

	function ExportPDF(staffId) {
		window.location.href = "/Learner/ExportPDF?classID=@Model.Class.ClassID" + "&staffId=" + staffId;
	}

	function ExportWord(staffId) {
		window.location.href = "/Learner/ExportWord?classID=@Model.Class.ClassID" + "&staffId=" + staffId;
	}

	function ExportExcel(staffId) {
		window.location.href = "/Learner/ExportExcel?classID=@Model.Class.ClassID" + "&staffId=" + staffId;
	}

    function EditAcknowledgeExtra(AcknowledgementExtraId)
	{
        var extraAck = $("#extraAck_" + AcknowledgementExtraId).val();
        $("#editExtraAcknowledgeBox").val(extraAck);

        $("#hidAcknowledgementExtraId").val(AcknowledgementExtraId);

		//var testvalue = $("#hidLearnerClassDateId").val();
        $("#hidAcknowledgementExtraAction").val('EDIT');

        ShowAckModel();
	}

	function ShowAckModel() {
        var modal = document.getElementById('editExtraAcknowledgeModal');
      
		modal.style.display = "block";
	}

    $('#btnModelEditAckSave').click(function () {

        var txtExtraAck = $("#editExtraAcknowledgeBox").val();

        if ($.trim(txtExtraAck).length === 0) {
			alert("This trainer name cannot be empty!");
			return;
		}


        $("#hidAcknowledgementExtraName").val(txtExtraAck);
		$("#ActionId").val(@PageAction.Update.GetHashCode());
        $("#editAcknowledgementExtraForm").submit();
    });

    function CloseEditAckModel() {
        var modal = document.getElementById('editExtraAcknowledgeModal');
		modal.style.display = "none";
	}
</script>