﻿@using Newtonsoft.Json
@using AAT.Model
@using AAT.Model.Utils

@using (Html.BeginForm("Action", "Home", FormMethod.Post, new { @id = "DashBoardForm" }))
{
<div class="pagedetail-container">

	<div id="classchart" class="col col-xs-6 text-left" style="height: 500px; float:left;"></div>

	<div id="learnerchart" class="col col-xs-6 text-left" style="height: 500px; float:left;"></div>


	@*<div id="center" class="col col-xs-6 text-left" style="">
				<div style="" class=""><b>Class Today</b> </div>
				<table style="width:100%;">
					<tr>
						<td style="display:inline-block;">
							<div class="td-col-title" style="display:inline-block;">Total Class</div>
							<div class="report-text" style="display:inline-block;">20</div>
						</td>
					</tr>
					<tr>
						<td style="display:inline-block;">
							<span class="td-col-title" style="display:inline-block;">Ongoing</span>
							<span class="report-text" style="display:inline-block;">5</span>
						</td>
					</tr>
					<tr>
						<td style="display:inline-block;">
							<span class="td-col-title" style="display:inline-block;">Not Start</span>
							<span class="report-text" style="display:inline-block;">7</span>
						</td>
					</tr>
					<tr>
						<td style="display:inline-block;">
							<span class="td-col-title" style="display:inline-block;">Finished</span>
							<span class="report-text" style="display:inline-block;">6</span>
						</td>

					</tr>


				</table>
		</div>*@



	<div style="clear:both;"></div>

	<div id="cardchart" class="col col-xs-6 text-left" style="height: 500px; float:left;"></div>

	<div class="col col-xs-6 text-left" style="height: 500px; float:left;">&nbsp;</div>

</div>
	}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

@*<script type="text/javascript" src="~/Scripts/loader.js"></script>*@

	<script>

		$(function () {
		});

		google.charts.load('current', { 'packages': ['corechart'] });
		google.charts.setOnLoadCallback(drawLearnerChart);
		google.charts.setOnLoadCallback(drawCardChart);
		google.charts.setOnLoadCallback(drawClassChart);

		function drawLearnerChart() {

			var data = google.visualization.arrayToDataTable([
				['Class', 'Class per Day'],
				['Present', 11],
				['Absent', 2],
				['Late', 2],
				['Not Start', 2]
			]);

			var options = {
				title: 'Learner Today '
			};

			var chart = new google.visualization.PieChart(document.getElementById('learnerchart'));

			chart.draw(data, options);
		}

		function drawClassChart() {

			var data = google.visualization.arrayToDataTable([
				['Class', 'Class per Day'],
				['Ongoing', 11],
				['Not Start', 26],
				['Finished', 5]
			]);

			var options = {
				title: 'Class Today',
				is3D: true,
			};

			var chart = new google.visualization.PieChart(document.getElementById('classchart'));
			chart.draw(data, options);

		}

		function drawCardChart() {


			var data = google.visualization.arrayToDataTable([
				['Card per Day', 'in unit'],
				['Success', 53], ['Unsuccess', 13]
			]);


			var options = {
				title: 'Card Status Today',
				pieHole: 0.4

			};


			var chart = new google.visualization.PieChart(document.getElementById('cardchart'));

			chart.draw(data, options);
		}
	</script>
