﻿@using Newtonsoft.Json
@using AAT.Model
@using AAT.Model.Utils

@model AAT.Model.ViewModel.ClassDateSumListViewModel

@using (Html.BeginForm("ClassDateSumListAction", "Home", FormMethod.Post, new { @id = "ClassDateSumListForm" }))
{
    <div class="pagedetail-container">
        <div style="width:100%;" class="bottomborder"><span id="criterialCollapselnk"><img id="imgCriterialCollapse" class="collapseImg" src="~/Images/expand.svg" /> &nbsp;Criteria</span></div>
		<div id="tbCriterial" style="margin-top:15px; padding-bottom:3px;" class="">
			<table style="width:100%;">
				<tr>
					<td class="colCriterialLabel">Class ID</td>
					<td>
						@Html.TextBox("txtClassId", @Model.SearchClassId)
					</td>
					<td class="colCriterialLabel">Course ID</td>
					<td><input type="text" id="txtCourseId" name="txtCourseId" value="@Model.SearchCourseId" /></td>
					<td class="colCriterialLabel">Instructor ID</td>
					<td><input type="text" id="txtTrainerId" name="txtTrainerId" value="@Model.SearchTrainerId" /></td>
					<td class="colCriterialLabel">Start Date</td>
					<td style="display:inline; white-space:nowrap;">
						<input id="txtStartDate" name="txtStartDate" type="text" readonly="readonly" class="datetext" value="@Model.SearchStartDate" />
						<img id="btnStartDate" class="svgSearchBtn" src="~/Images/calendar.svg">
					</td>
				</tr>
				<tr style="margin-top:7px; height:40px;">
					<td class="colCriterialLabel">Status
					<td>
						<select style="width:120px; height:25px;" id="ddlStatus" name="ddlStatus">
							<option @Html.Raw(Model.SearchStatus == "" ? "selected" : "") value="">All</option>
							<option @Html.Raw(Model.SearchStatus == "1" ? "selected" : "") value="1">New</option>
							<option @Html.Raw(Model.SearchStatus == "2" ? "selected" : "") value="2">Ongoing</option>
							<option @Html.Raw(Model.SearchStatus == "3" ? "selected" : "") value="3">Pending acknowledgement</option>
							<option @Html.Raw(Model.SearchStatus == "4" ? "selected" : "") value="4">Completed</option>
						</select>
					</td>
					<td class="colCriterialLabel">Course Name</td>
					<td><input type="text" id="txtCourseName" name="txtCourseName" value="@Model.SearchCourseName" /></td>
					<td class="colCriterialLabel">Instructor Name</td>
					<td><input type="text" id="txtTrainerName" name="txtTrainerName" value="@Model.SearchTrainerName" /></td>
					<td class="colCriterialLabel">End Date</td>
					<td>
						<input id="txtEndDate" name="txtEndDate" type="text" readonly="readonly" class="datetext" value="@Model.SearchEndtDate" />
						<img id="btnEndDate" class="svgSearchBtn" src="~/Images/calendar.svg">
					</td>
				</tr>
			</table>
			<div class="report-section">
				<input id="btnGenerateReport" class="btn btn-outline-primary" type="button" value="Generate Reports" />
				<input id="btnLateReport" class="btn btn-outline-primary" type="button" value="Late Reports" />
			</div>
			<div style="width:100%; text-align:right; ">
				<input id="btnSearch" type="button" value="Search" class="btn btn-outline-primary" />
				<input id="btnClear" type="button" value="Clear" class="btn btn-outline-primary" />
			</div>

			@Html.Hidden("Page")
			@Html.Hidden("PageSize", Model.PagingModel.Pager.PageSize)
			@Html.Hidden("hidCourseId", Model.SearchCourseId)
			@Html.Hidden("hidCourseName", Model.SearchCourseName)
			@Html.Hidden("hidClassId", Model.SearchClassId)
			@Html.Hidden("hidClassName", Model.SearchClassName)
			@Html.Hidden("hidTrainerId", Model.SearchTrainerId)
			@Html.Hidden("hidTrainerName", Model.SearchTrainerName)
			@Html.Hidden("hidDate", Model.SearchDate)
			@Html.Hidden("hidStartDate", Model.SearchStartDate)
			@Html.Hidden("hidEndDate", Model.SearchEndtDate)
			@Html.Hidden("hidSortColumn", Model.SortColumn)
			@Html.Hidden("hidSortOrder", Model.SortOrder)
			@Html.Hidden("hidClassIds", Model.ClassIds)
			@Html.Hidden("hidSearchStatus", Model.SearchStatus)

			@Html.Hidden("hidTimeLate")
			@Html.Hidden("hidTimeLateHH")
			@Html.Hidden("hidTimeLateMM")

			@Html.Hidden("hidExportType")
			@Html.Hidden("ActionId", Model.ActionId)
			@Html.Hidden("OrgActionId", Model.ActionId)

		</div>
		<br />

		<table class="listview-tb">
            <tbody style="
				overflow-x: auto;
				box-shadow: 0 0 black;
				display: block;
				width: 99vw;
				min-width:99vw;">
                <tr class="headder-row">
                    <td class="home-table-classID">
                        Class ID
						<img id="sortClassID" onclick="DoSorting('ClassID')" src="~/images/expand.svg" class="imgSortToggle" />
                    </td>
                    <td class="home-table-courseName">
                        Course Name
						<img id="sortCourseName" onclick="DoSorting('CourseName')" src="~/images/expand.svg" class="imgSortToggle" />
                    </td>
                    <td class="home-table-instructorId">
                        Instructor ID
						<img id="sortTrainersId" onclick="DoSorting('TrainerIDs')" src="~/images/expand.svg" class="imgSortToggle" />
                    </td>
                    <td class="home-table-instructor">
                        Instructor Name
						<img id="sortTrainers" onclick="DoSorting('Trainers')" src="~/images/expand.svg" class="imgSortToggle" />
                    </td>
                    <td class="home-table-Status">
                        Status
						<img id="sortClassStatusID" onclick="DoSorting('ClassStatusID')" src="~/images/expand.svg" class="imgSortToggle" />
                    </td>
                    <td class="home-table-total-registered" style="text-align:center;">
                        Total Registered
						<img id="sortTotalRegister" onclick="DoSorting('TotalRegister')" src="~/images/expand.svg" class="imgSortToggle" />
                    </td>
                    <td class="home-table-present" style="text-align:center;">
                        Present
						<img id="sortPresent" onclick="DoSorting('Present')" src="~/images/expand.svg" class="imgSortToggle" />
                    </td>
                    <td class="home-table-absent" style="text-align:center;">
                        Absent
						<img id="sortAbsent" onclick="DoSorting('Absent')" src="~/images/expand.svg" class="imgSortToggle" />
                    </td>
                </tr>
                @if (Model.ClassDateSumList.Count > 0)
                {
                    foreach (var item in Model.ClassDateSumList)
                    {
                        string classLink = "/Class/Details?id=" + @item.Class.ClassID;
                        string classTime = "/Class/Timing?id=" + @item.Class.ClassID.ToString();

                        <tr class="smalltr">
                            <td class="home-table-classID text-overflow">
                                @if (item.Class.ClassStatusID == ClassStatus.OnGoing.GetHashCode()
                                    || item.Class.ClassStatusID == ClassStatus.PendingAcknowledge.GetHashCode())
                                {<a href="@classLink">@item.Class.ClassID</a>}
                            else
                            {@item.Class.ClassID}
                            </td>
                            <td class="home-table-courseName text-overflow" title="@item.Class.CourseName">@item.Class.CourseName</td>
							<td class="home-table-instructorId text-overflow" title="@item.Class.TrainerIDs">@item.Class.TrainerIDs</td>
                            <td class="home-table-instructor text-overflow" title="@item.Class.Trainers">@item.Class.Trainers</td>
                            <td class="home-table-Status text-overflow">@EnumsHelper.GetClassStatusString(item.Class.ClassStatusID)</td>
                            <td class="home-table-total-registered" style="text-align:center;">@item.TotalRegister</td>
                            <td class="home-table-present" style="text-align:center;">@item.Present</td>
                            <td class="home-table-absent" style="text-align:center;">@item.Absent</td>
                            @*<td class="home-table-export action-col" style="text-align:right; padding-right:10px;"></td>*@
                        </tr>
                    }
                }
                else
                {
                    <tr class="smalltr">
                        <td colspan="9" style="text-align:center">No record found!</td>
                    </tr>
                }
                </tbody>
        </table>
        <div>
            @Html.Partial("~/Views/Shared/Pager.cshtml", Model.PagingModel)
        </div>
    </div>
}   
<div id="pop-up-wrap" class="hideOption">
    <div id="generate-report-window" class="hideOption col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
        <div class="report-criteria-section">
            @*<img src="~/Images/report-icon.png" width="auto" height="30" />*@
            <h4>Generate Reports</h4>
        </div>
        
        <div class="report-button-section">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 padding-0">
                    Generate reports in format of:
                    <select id="selectFormatReport" onchange="changeicon()">
                        <option id="pdf-icon" value="@FileExtenstion.PDF.GetHashCode()" class="pdf-opt">PDF(.pdf)</option>
                        <option id="excel-icon" value="@FileExtenstion.EXCEL.GetHashCode()" class="excel-opt">Microsoft Excel(.xlsx)</option>
                        <option id="word-icon" value="@FileExtenstion.WORD.GetHashCode()" class="word-opt">Microsoft Word(.doc) </option>
                    </select>
                    <i class="far fa-file-pdf"></i>
                    <i class="far fa-file-excel hideOption"></i>
                    <i class="far fa-file-word hideOption"></i>
                </div>
            </div>
            <div class="report-button-section-operate">
                <div id="textNotify" class="col-lg-12"></div>
                <div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-0 col-xs-offset-0 col-sm-12 col-xs-12">
                    <input id="btnCancelBulk" name="btnCancelBulk" type="button" value="Cancel" />
                    <input id="btnSubmitBulk" name="btnGenerateBulk" type="button" value="Generate" />
                </div>
            </div>
        </div>
    </div>
    </div>

<div id="pop-up-wrap-late" class="hideOption">
    <div id="late-report-window" class="hideOption col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
        <div class="report-criteria-section">
            @*<img src="~/Images/report-icon.png" width="auto" height="30" />*@
            <h4>Late Reports</h4>

        </div>

        <div class="report-button-section">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 late-row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">Scan In Date</div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="display:inline; white-space:nowrap;">
                        <input id="txtScanInDate" name="txtScanInDate" type="text" readonly="readonly" class="datetext" value="" />
                        <img id="btnScanInDate" class="svgSearchBtn" src="~/Images/calendar.svg">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 late-row-2">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">Scan In Time After</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
						<select id="timeLateHH" name="timeLateHH" class=" dropdowntime"></select> :
						<select id="timeLateMM" name="timeLateMM" class=" dropdowntime"></select>
					</div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0 late-row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        Export to
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <select id="selectFormatLateReport" onchange="changeiconlate()">
                            <option id="pdf-late-icon" value="@FileExtenstion.PDF.GetHashCode()" class="pdf-opt">PDF(.pdf)</option>
                            <option id="excel-late-icon" value="@FileExtenstion.EXCEL.GetHashCode()" class="excel-opt">Microsoft Excel(.xlsx)</option>
                            <option id="word-late-icon" value="@FileExtenstion.WORD.GetHashCode()" class="word-opt">Microsoft Word(.doc) </option>
                        </select>
                        <i class="far fa-file-pdf"></i>
                        <i class="far fa-file-excel hideOption"></i>
                        <i class="far fa-file-word hideOption"></i>
                    </div>
                </div>
            </div>
            <div class="report-button-section-operate">
                <div id="textNotify" class="col-lg-12"></div>
                <div class="col-lg-offset-4 col-lg-8 col-md-offset-0 col-md-12 col-sm-offset-0 col-xs-offset-0 col-sm-12 col-xs-12">
                    <input id="btnCancelLate" type="button" value="Cancel" />
                    <input id="btnSubmitLate" type="button" value="Generate" />

                </div>
            </div>
        </div>
    </div>
</div>

<script>
	function OpenDocument(docName) {
		window.location.href = "/Class/OpenDocument?docName=" + docName;
	}

	$(function () {
        $("#txtStartDate").datepicker({dateFormat: '@DateHelper.JqueryDatePickerFormat'});
		$("#txtEndDate").datepicker({ dateFormat: '@DateHelper.JqueryDatePickerFormat' });
		$("#txtScanInDate").datepicker({ dateFormat: '@DateHelper.JqueryDatePickerFormat' });
		//Sorting
		var imgSortName = "#sort" + "@Model.SortColumn";
		var imgSortSrc = "../images/expand_active.svg";

		if ("@Model.SortOrder.ToUpper()" !== "ASC") {
			imgSortSrc = "../images/collapse_active.svg";
		}

        $(imgSortName).attr("src", imgSortSrc);

        if ("@Model.SearchStatus" == "4") {
            $("#btnGenerateReport").addClass("enabled-func");
        } else {
            $("#btnGenerateReport").addClass("disabled-func");
        }

		InitHourMinutesDropDown();

		var errMess = "@Model.ErrorMessage";
        if (errMess !== '') {
			alert(errMess);
        }
	});

	$("#btnDate").click(function () {
		$("#txtDate").focus();
    });

    $("#btnScanInDate").click(function () {
        $("#txtScanInDate").focus();
    });

    $("#btnStartDate").click(function () {
        $("#txtStartDate").focus();
    });

    $("#btnEndDate").click(function () {
        $("#txtEndDate").focus();
    });


	function DoSorting(SortColumn) {

		var SortOrder = "ASC";
		if ("@Model.SortColumn" === SortColumn && "@Model.SortOrder.ToUpper()" === "ASC") {
			SortOrder = "DESC";
		}

		$("#ActionId").val(@PageAction.Sorting.GetHashCode());
		$("#hidSortColumn").val(SortColumn);
		$("#hidSortOrder").val(SortOrder);

		$("#ClassDateSumListForm").submit();
	}

	$("#btnSearch").click(function () {
		$("#ActionId").val(2);
		$("#ClassDateSumListForm").submit();
	});

	function ClassDateSumPaging(page) {
		$("#ActionId").val(1);
		$("#Page").val(page);
		$("#ClassDateSumListForm").submit();
	}

	$('#criterialCollapselnk').click(function () {
		criterialCollapse();
	});

	function criterialCollapse() {
		var criterialImg = $('#imgCriterialCollapse');
		var tbCriterial = $('#tbCriterial');
		var imgeSrouce = $('#imgCriterialCollapse').attr('src');

		if (imgeSrouce.indexOf("expand.svg") >= 0) {
			$(criterialImg).attr("src", "/Images/collapse.svg");
			tbCriterial.addClass("hideDisplay");
		}
		else {
			$(criterialImg).attr("src", "/Images/expand.svg");
			tbCriterial.removeClass("hideDisplay");
		}
	}

	$("#btnClear").click(function () {
		$("#txtStartDate").val("");
		$("#txtEndDate").val("");
		$("#txtClassId").val("");
		$("#txtCourseId").val("");
		$("#txtCourseName").val("");
		$("#txtTrainerId").val("");
		$("#txtTrainerName").val("");
        $("#ddlStatus").val("");

        GoURL("/");

	});

    setTimeout(function () {
		var actionId = $("#ActionId").val();

		if (actionId == @PageAction.Export.GetHashCode()) {
			$("#ActionId").val($("#OrgActionId").val());
			$("#ClassDateSumListForm").submit();
		}
		if (actionId == "") {
            window.location.reload(true);
        }
        else {
            $("#ClassDateSumListForm").submit();
        }
    }, 90000);

    $('#btnGenerateReport').click(function () {

        if ($(this).hasClass("enabled-func")) {
            if (@Model.ClassDateSumList.Count > 0) {
                $('#generate-report-window,#pop-up-wrap').toggleClass('hideOption');
                $('#textNotify').text("");
            } else {
                alert("There is no reports to be generated.");
            }
        } else if ($(this).hasClass("disabled-func")) {
            alert("Status searched must be 'Completed'");
        }
    });

    $('#btnLateReport').click(function () {
        $('#late-report-window,#pop-up-wrap-late').toggleClass('hideOption');
        $('body').addClass('remove-scroll');
    });

    $('#btnCancelBulk').click(function () {
        $('#generate-report-window,#pop-up-wrap').toggleClass('hideOption');
    });

    $('#btnCancelLate').click(function () {
		HideExportLateModel();
    });

	function HideExportLateModel() {
		$('#late-report-window,#pop-up-wrap-late').toggleClass('hideOption');
		$('body').removeClass('remove-scroll');
	}

	$('#btnSubmitLate').click(function () {

		var orgActionId = $("#ActionId").val();
		var scanDate = $("#txtScanInDate").val();
		var scanHour = $("#timeLateHH").val();
		var scanMinute = $("#timeLateMM").val();

		$("#hidTimeLate").val(scanDate);
		$("#hidTimeLateHH").val(scanHour);
		$("#hidTimeLateMM").val(scanMinute);

		$("#txtCourseId").val("");

		var ExportType = "PDF";
		if ($("#excel-late-icon").is(":selected")) {
			ExportType = "EXCEL";
		} else if ($("#word-late-icon").is(":selected")){
			ExportType = "WORD";
		}

		$("#ActionId").val(@PageAction.Export.GetHashCode());
		$("#hidExportType").val(ExportType);

		$("#ClassDateSumListForm").submit();

		HideExportLateModel();
		//$("#ActionId").val(orgActionId);

	});

	$('#btnSubmitBulk').click(function () {

		var classIds = $('#hidClassIds').val();
		var fileExtention = $('#selectFormatReport').val();

		window.location.href = "/Home/BulkExport?fileExtention=" + fileExtention + "&classIds=" + classIds;
		$('#generate-report-window,#pop-up-wrap').toggleClass('hideOption');
        //$('#textNotify').text("Reports successfully generated.");
    });

    function changeicon() {
        if ($("#pdf-icon").is(":selected")) {
            $("#generate-report-window .report-button-section i.fa-file-pdf").removeClass("hideOption");
            $("#generate-report-window .report-button-section i.fa-file-excel").addClass("hideOption");
            $("#generate-report-window .report-button-section i.fa-file-word").addClass("hideOption");
        } else if ($("#excel-icon").is(":selected")){
            $("#generate-report-window .report-button-section i.fa-file-pdf").addClass("hideOption");
            $("#generate-report-window .report-button-section i.fa-file-excel").removeClass("hideOption");
            $("#generate-report-window .report-button-section i.fa-file-word").addClass("hideOption");
        }else {
            $("#generate-report-window .report-button-section i.fa-file-pdf").addClass("hideOption");
            $("#generate-report-window .report-button-section i.fa-file-excel").addClass("hideOption");
            $("#generate-report-window .report-button-section i.fa-file-word").removeClass("hideOption");
        }
    }

    function changeiconlate() {
        if ($("#pdf-late-icon").is(":selected")) {
            $("#late-report-window .report-button-section i.fa-file-pdf").removeClass("hideOption");
            $("#late-report-window .report-button-section i.fa-file-excel").addClass("hideOption");
            $("#late-report-window .report-button-section i.fa-file-word").addClass("hideOption");
        } else if ($("#excel-late-icon").is(":selected")) {
            $("#late-report-window .report-button-section i.fa-file-pdf").addClass("hideOption");
            $("#late-report-window .report-button-section i.fa-file-excel").removeClass("hideOption");
            $("#late-report-window .report-button-section i.fa-file-word").addClass("hideOption");
        } else {
            $("#late-report-window .report-button-section i.fa-file-pdf").addClass("hideOption");
            $("#late-report-window .report-button-section i.fa-file-excel").addClass("hideOption");
            $("#late-report-window .report-button-section i.fa-file-word").removeClass("hideOption");
        }
    }

    //$('.timepicker').timepicker({
    //    timeFormat: 'hh:mm p',
    //    interval: 10,
    //    minTime: '9',
    //    maxTime: '08:00pm',
    //    defaultTime: '10',
    //    startTime: '09:00',
    //    dynamic: false,
    //    dropdown: true,
    //    scrollbar: true
    //})

	function InitHourMinutesDropDown() {

		$("#timeLateHH").empty();
		$("#timeLateMM").empty();

		var d = new Date();

		var month = d.getMonth() + 1;
		var day = d.getDate();

		var curdate = (day < 10 ? '0' : '') + day + '/'
			+ (month < 10 ? '0' : '') + month + '/' + d.getFullYear();


		$("#txtScanInDate").val(curdate);
		var text = '';

		// Hour
		for (var i = 0; i <= 23; i++) {
			text = (i < 10) ? '0' + i : i;
			$('#timeLateHH').append('<option value=' + i + '>' + text + '</option>');
		}

		// Minute
		for (var i = 0; i <= 59; i++) {
			text = (i < 10) ? '0' + i : i;
			$('#timeLateMM').append('<option value=' + i + '>' + text + '</option>');
		}


		//$("#timeLateHH").val('08').change();
		//$("#timeLateMM").val('00').change();

	}
</script>
