@using Newtonsoft.Json
@using AAT.Model
@using AAT.Model.Utils

@model AAT.Model.ViewModel.LearnerListViewModel

@using (Html.BeginForm("LearnerListAction", "Learner", FormMethod.Post, new { @id = "LearnerListForm" }))
{
<div class="pagedetail-container">

	@Html.Hidden("Page")
	@Html.Hidden("PageSize", @Model.PagingModel.Pager.PageSize)
	@Html.Hidden("hidCourseId", @Model.SearchCourseId)
	@Html.Hidden("hidCourseName", @Model.SearchCourseName)
	@Html.Hidden("hidClassId", @Model.SearchClassId)
	@Html.Hidden("hidClassName", @Model.SearchClassName)
	@Html.Hidden("hidStaffId", @Model.SearchStafffId)
	@Html.Hidden("hidLearnerName", @Model.SearchLearnerName)
	@Html.Hidden("hidStartDate", @Model.SearchStartDate)
	@Html.Hidden("hidEndDate", @Model.SearchEndtDate)
	@Html.Hidden("hidSearchStatus", @Model.SearchStatus)
	@Html.Hidden("hidSortColumn", @Model.SortColumn)
	@Html.Hidden("hidSortOrder", @Model.SortOrder)
	@Html.Hidden("ActionId")
	@Html.Hidden("ExportType")

	<div style="width:100%;" class="bottomborder"><span id="criterialCollapselnk"><img id="imgCriterialCollapse" class="collapseImg" src="~/Images/expand.svg" /> &nbsp;Criteria</span></div>
    <div id="tbCriterial" style="margin-top:15px; padding-bottom:3px;" class="">
        <table style="width:100%;">
            <tr>
                <td class="colCriterialLabel">Staff ID</td>
                <td><input type="text" id="txtStaffId" name="txtStaffId" value="@Model.SearchStafffId" /></td>

                <td class="colCriterialLabel">Class ID</td>
                <td><input type="text" id="txtClassId" name="txtClassId" value="@Model.SearchClassId" /></td>

                <td class="colCriterialLabel">Course Name</td>
                <td><input type="text" id="txtCourseName" name="txtCourseName" value="@Model.SearchCourseName" /></td>

                <td class="colCriterialLabel">Start Date</td>
                <td style="display:inline; white-space:nowrap;">
                    <input id="txtStartDate" name="txtStartDate" type="text" readonly="readonly" class="datetext" value="@Model.SearchStartDate" />
                    <img id="btnStartDate" class="svgSearchBtn" src="~/Images/calendar.svg">
                </td>
            </tr>
            <tr style="margin-top:7px; height:40px;">
                <td class="colCriterialLabel">Learner Name</td>
                <td><input type="text" id="txtLearnerName" name="txtLearnerName" value="@Model.SearchLearnerName" /></td>
                <td class="colCriterialLabel">Course ID</td>
                <td><input type="text" id="txtCourseId" name="txtCourseId" value="@Model.SearchCourseId" /></td>
                <td class="colCriterialLabel"></td>
                <td></td>
                <td class="colCriterialLabel">End Date</td>
                <td>
                    <input id="txtEndDate" name="txtEndDate" type="text" readonly="readonly" class="datetext" value="@Model.SearchEndtDate" />
                    <img id="btnEndDate" class="svgSearchBtn" src="~/Images/calendar.svg">
                </td>
            </tr>
        </table>
        <div class="report-section">
            <input id="btnGenerateReport" class="btn btn-outline-primary" type="button" value="Generate Reports" />
        </div>
        <div style="width:100%; text-align:right; padding-top:5px; ">
            <input id="btnSearch" type="button" value="Search" class="btn btn-outline-primary" />
            <input id="btnClear" type="button" value="Clear" class="btn btn-outline-primary" />
        </div>
    </div>
	<div style="clear:both"></div>
	<table class="listview-tb">
		<tr class="headder-row">
			<td>
				Staff ID
				<img id="sortStaffID" onclick="DoSorting('StaffID')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Name
				<img id="sortLearnerName" onclick="DoSorting('LearnerName')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Class ID
				<img id="sortClassID" onclick="DoSorting('ClassID')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Course ID
				<img id="sortCourseId" onclick="DoSorting('CourseId')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td>
				Course Name
				<img id="sortCourseName" onclick="DoSorting('CourseName')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td style="text-align:center;">
				Start Date
				<img id="sortStartDate" onclick="DoSorting('StartDate')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
			<td style="text-align:center;">
				End Date
				<img id="sortEndDate" onclick="DoSorting('EndDate')" src="~/images/expand.svg" class="imgSortToggle" />
			</td>
		</tr>
		@if (Model.LearnerList.Count > 0)
		{
			foreach (var item in Model.LearnerList)
			{
				<tr class="smalltr">
					<td>@item.StaffID</td>
					<td>@item.LearnerName</td>
					<td>@item.Class.ClassID</td>
					<td>@item.Class.CourseId</td>
					<td>@item.Class.CourseName</td>
					<td style="text-align:center;">@DateHelper.FormatDateMonthInName(item.Class.StartDate)</td>
					<td style="text-align:center;">@DateHelper.FormatDateMonthInName(item.Class.EndDate)</td>
				</tr>
			}
		}
		else
		{
			<tr class="smalltr">
				<td colspan="7" style="text-align:center">No record found!</td>
			</tr>
		}
	</table>
	<div>
		@Html.Partial("~/Views/Shared/Pager.cshtml", Model.PagingModel)
	</div>

</div>
}

<div id="pop-up-wrap" class="hideOption">
    <div id="generate-report-window" class="hideOption col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
        <div class="report-criteria-section">
            @*<img src="~/Images/report-icon.png" width="auto" height="30" />*@
            <h4>Generate Learner Reports</h4>

        </div>

        <div class="report-button-section">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 padding-0">
                    Generate reports in format of:
                    <select id="selectFormatReport" onchange="changeicon()">
                        <option id="pdf-icon" value="@FileExtenstion.PDF.GetHashCode()" class="pdf-opt">PDF(.pdf)</option>
                        <option id="excel-icon" value="@FileExtenstion.EXCEL.GetHashCode()" class="excel-opt">Microsoft Excel(.xlsx)</option>
                        <option id="word-icon" value="@FileExtenstion.WORD.GetHashCode()" class="word-opt">Microsoft Word(.doc) </option>
                    </select>
                    <i class="far fa-file-pdf"></i>
                    <i class="far fa-file-excel hideOption"></i>
                    <i class="far fa-file-word hideOption"></i>
                </div>
            </div>
            <div class="report-button-section-operate">
                <div id="textNotify" class="col-lg-12"></div>
                <div class="col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-0 col-xs-offset-0 col-sm-12 col-xs-12">
                    <input id="btnCancelBulk" name="btnCancelBulk" type="button" value="Cancel" />
                    <input id="btnSubmitBulk" name="btnGenerateBulk" type="button" value="Generate" />

                </div>
            </div>
        </div>
    </div>
</div>

<script>
	var msg_bool = 0;
	$(function () {
		$("#txtStartDate").datepicker({dateFormat: '@DateHelper.JqueryDatePickerFormat'});
		$("#txtEndDate").datepicker({ dateFormat: '@DateHelper.JqueryDatePickerFormat' });

		//Sorting
		var imgSortName = "#sort" + "@Model.SortColumn";
		var imgSortSrc = "../images/expand_active.svg";
		
		if ("@Model.SortOrder.ToUpper()" !== "ASC") {
			imgSortSrc = "../images/collapse_active.svg";
		}

        $(imgSortName).attr("src", imgSortSrc);

		if ("@Model.SearchStafffId" !== "" && "@Model.LearnerList.Count" > 0) {
			
			$("#btnGenerateReport").addClass("enabled-func");
		}
		else if ("@Model.LearnerList.Count" < 1) {
			$("#btnGenerateReport").addClass("disabled-func");
			msg_bool = 1;
		}
		else
		{
			$("#btnGenerateReport").addClass("disabled-func");
			msg_bool = 2;
		}

        var errMess = "@Model.ErrorMessage";
        if (errMess !== '') {
        alert(errMess);
        }
	});

	function DoExport(ExportType) {


		$("#ActionId").val(@PageAction.Export.GetHashCode());
		$("#ExportType").val(ExportType);

		$("#LearnerListForm").submit();
	}

	function DoSorting(SortColumn) {

		var SortOrder = "ASC";
		if ("@Model.SortColumn" === SortColumn && "@Model.SortOrder.ToUpper()" === "ASC") {
			SortOrder = "DESC";
		}

		$("#ActionId").val(@PageAction.Sorting.GetHashCode());
		$("#hidSortColumn").val(SortColumn);
		$("#hidSortOrder").val(SortOrder);

		$("#LearnerListForm").submit();
	}

	$("#btnStartDate").click(function () {
		$("#txtStartDate").focus();
	});

	$("#btnEndDate").click(function () {
		$("#txtEndDate").focus();
	});

	$("#btnClear").click(function () {
		$("#txtStaffId").val("");
		$("#txtClassId").val("");
		$("#txtCourseName").val("");
		$("#txtStartDate").val("");
		$("#txtLearnerName").val("");
		$("#txtCourseId").val("");
        $("#txtEndDate").val("");

        GoURL("/Learner/LearnerList");
	});

	$("#btnSearch").click(function () {
		$("#ActionId").val(2);
		$("#LearnerListForm").submit();
	});

	function LearnerListPaging(page) {
		$("#ActionId").val(1);
		$("#Page").val(page);
		$("#LearnerListForm").submit();
	}

	$("#criterialCollapselnk").click(function () {
		criterialCollapse();
	});

	function criterialCollapse() {
		var criterialImg = $('#imgCriterialCollapse');
		var tbCriterial = $('#tbCriterial');
		var imgeSrouce = $('#imgCriterialCollapse').attr('src');

		if (imgeSrouce.indexOf("expand.svg") >= 0) {
			$(criterialImg).attr("src", "/Images/collapse.svg");
			tbCriterial.addClass("hideDisplay");
		}
		else {
			$(criterialImg).attr("src", "/Images/expand.svg");
			tbCriterial.removeClass("hideDisplay");
		}
    }

    $('#btnGenerateReport').click(function () {

        if ($(this).hasClass("enabled-func")) {
            $('#generate-report-window,#pop-up-wrap').toggleClass('hideOption');
		} else if ($(this).hasClass("disabled-func")) {
			if (msg_bool === 1) {
				alert("No records found.");
			} else {
				alert("Please search the exact staff ID only.");
			}
            
        }
    });

    $('#btnCancelBulk').click(function () {
        $('#generate-report-window,#pop-up-wrap').toggleClass('hideOption');
    });

    function changeicon() {
        if ($("#pdf-icon").is(":selected")) {
            $(".report-button-section i.fa-file-pdf").removeClass("hideOption");
            $(".report-button-section i.fa-file-excel").addClass("hideOption");
            $(".report-button-section i.fa-file-word").addClass("hideOption");
        } else if ($("#excel-icon").is(":selected")) {
            $(".report-button-section i.fa-file-pdf").addClass("hideOption");
            $(".report-button-section i.fa-file-excel").removeClass("hideOption");
            $(".report-button-section i.fa-file-word").addClass("hideOption");
        } else {
            $(".report-button-section i.fa-file-pdf").addClass("hideOption");
            $(".report-button-section i.fa-file-excel").addClass("hideOption");
            $(".report-button-section i.fa-file-word").removeClass("hideOption");
        }
    }

    $('#btnSubmitBulk').click(function () {

        if ($("#pdf-icon").is(":selected")) {
            DoExport('PDF');
        }
        else if ($("#excel-icon").is(":selected")){
            DoExport('EXCEL');
        }else {
            DoExport('WORD');
        }
        $('#generate-report-window,#pop-up-wrap').toggleClass('hideOption');
    });
</script>
