﻿
@{
    ViewBag.Title = "BasicLogin";
}


<div id="loginContainer">

    <table cellspacing="0" cellpadding="0" border="0" style="width:475px; margin-bottom:100px;">
        <tr>
            <td colspan="2" align="right" style="padding-bottom:7px;">
                <img src="~/Images/logo.png" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="appname"> Automated Attendance Taking System</td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td valign="top" style="height: 84px;">
                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                    <tbody>
                        <tr>
                            <td align="right" valign="top" class="login_text">
                                Username&nbsp;
                            </td>
                            <td valign="middle" style="height: 20px; padding-bottom:2px;">
                                <input type="text" id="username" size="50" height="12" class="login_input" />
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top" class="login_text">
                                Password&nbsp;
                            </td>
                            <td valign="middle">
                                <input type="password" id="password" size="50" height="12" class="login_input" />
                            </td>
                            <td>
                                <img width="auto" height="25" src="~/Images/eyes-show.png" id="showPassword">
                            </td>
                        </tr>
                        <tr style="padding-top:5px;">
                            <td class="menu">
                                &nbsp;
                            </td>
                            <td style="text-align:right;">
                                <input id="btnLogin" type="button" value="Login" class="btn btn-outline-primary" />
                                <input id="btnClear" type="button" value="Clear" class="btn btn-outline-primary" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>

</div>

<script>
	$(function () {
		$("#username").focus();
	});

	$("#password").on('keyup', function (e) {
		if (e.keyCode == 13) {
			$("#btnLogin").click();
		}
	});

	$("#btnClear").click(function () {
		$("#username").val("");
		$("#password").val("");
	});

	$("#btnLogin").click(function () {

		var username = $('#username').val();
		var password = $('#password').val();
		var param = { "username": username, "password": password };

		if (username == '') {
			alert("Please input UserName");
			$('#username').focus();
			return;
		}

		if (password == '') {
			alert("Please input Password");
			$('#password').focus();
			return;
		}

		getServerData('/Account/CheckLogin', param, (function (_this) {
			return function (responseObject) {

				if (responseObject) {
					if (responseObject == 'success') {
						window.location.href = "/Class/ClassList";
					}
					else {
						alert(responseObject);
					}
				}
			};
		})(this));
    });

    $("#showPassword").click(function () {
        if ($("#password").attr("type") == "text") {
            $("#password").attr("type", "password");
        } else {
            $("#password").attr("type", "text");
        }

    });
</script>





