﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singapore Airlines</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/sia_icon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
	@RenderBody()
	@RenderSection("scripts", required: false)
</body>
</html>