﻿@using AAT.Utils
@using AAT.Model.Utils

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singapore Airlines</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/sia_icon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
@{
	string loginName = (SessionHelper.Session.User.Name.Length > 0) ? SessionHelper.Session.User.Name : SessionHelper.Session.User.LoginName;
}
<body>
	<div style="position:relative; height:80px;">
		<div class="leftDiv"><a href="/"><img src="~/Images/logo.png" style="height:75px; padding-left:5px;" /></a></div>
		<div class="rightDiv UserDiv" style="">
			<table>
				<tr>
					<td style="text-align:center">
						<img class="UserLogo" src="~/Images/me.png" />
					</td>
				</tr>
				<tr>
					<td style="vertical-align:bottom; text-align:center;">
						<span style="display:inline">@loginName</span>
						<span> | </span><a onclick="DoLogout()">Logout</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	@if (SessionHelper.Session.User.Role != AAT.Model.Utils.UserRole.ExternalTrainer && SessionHelper.Session.User.Role != AAT.Model.Utils.UserRole.Staff)
	{
		<div class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
				</div>
				<div class="navbar-collapse collapse" style="float:right;">

                    <ul class="nav navbar-nav">
                        @if (SessionHelper.Session.User.Role == AAT.Model.Utils.UserRole.Admin
                                || SessionHelper.Session.User.Role == AAT.Model.Utils.UserRole.SuperAdmin)
                            {
                            <li id = "home-btn">@Html.ActionLink("Home", "Index", "Home")</li>
                        }
                        
                        <li>@Html.ActionLink("Class", "ClassList", "Class")</li>
                        <li>@Html.ActionLink("Learner", "LearnerList", "Learner")</li>
                        @if (SessionHelper.Session.User.Role == AAT.Model.Utils.UserRole.Admin
                            || SessionHelper.Session.User.Role == AAT.Model.Utils.UserRole.SuperAdmin)
                        {
                            <li>@Html.ActionLink("User", "UserList", "User")</li>
                        }
                        @if (SessionHelper.Session.User.Role == AAT.Model.Utils.UserRole.SuperAdmin)
                        {
                            <li>@Html.ActionLink("Department", "DepartmentList", "Department")</li>
                        }

                    </ul>

				</div>
			</div>
		</div>
	}
	<div style="width:100%;">
		@RenderBody()
	</div>

	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

    <script>
        $(function (){
            setNavigation();

            $(":text").on("keydown", function (event) {
                if (event.which == 13) {
                    if ($(this).hasClass("input_reset")){
                        $("#btnReset").click();
                    } else {
                        $("#btnSearch").click();
                    }
                }
            });
        });

        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);

            var split_path = path.split('/');
            var window_href = split_path[1];

            if ((path === "") || (window_href === "Home")){
                $("#home-btn a").addClass('active-page');
            }


            $(".nav a").each(function () {
                var href = $(this).attr('href');
                var href_split = href.split('/');
                var menu_href = href_split[1];

                if (window_href === menu_href) {
                    $(this).closest('li a').addClass('active-page');
                } 
            });
        }

		function DoLogout() {
			window.location.href = "/Account/Logout";
			@*var userLoginType = @SessionHelper.Session.User.UserType.GetHashCode()
			if (userLoginType === 2) {	// W2K user
				window.location.href = "/Account/BasicLogin";
			}
			else {
				window.location.href = "/Account/Logout";
			}*@
		}
    </script>

</body>
</html>
