﻿@using AAT.Model
@model AAT.Model.ViewModel.PageViewModel

@*<html>
<head>
</head>
<body>*@
	<div class="container">
		<div class="col-md-6">

			<!-- pager -->
			@if (Model.Pager.EndPage > 1)
			{
				<ul id="PageNo" class="pagination" style="width:1000px;">
					@if (Model.Pager.CurrentPage > 1)
					{

						<li onclick="@Model.Pager.Callback (1);">
							First
						</li>
						<li onclick="@Model.Pager.Callback (@(Model.Pager.CurrentPage - 1) );">
							Prev
						</li>
					}

					@for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
					{
						<li onclick="@Model.Pager.Callback (@page);"
							class=" @(page == Model.Pager.CurrentPage ? "active" : "")">
							@page
						</li>
					}

					@if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
					{
						<li onclick="@Model.Pager.Callback (@(Model.Pager.CurrentPage + 1) );">
							Next
						</li>
						<li onclick="@Model.Pager.Callback (@Model.Pager.TotalPages );">
							Last
						</li>
					}
				</ul>
			}
		</div>
	</div>


@*</body>
</html>*@
