﻿#username{
    width:100%;
}

#password{
    width:100%;
}

#txtDate, #txtClassId, #ddlStatus, #txtStartDate, #txtEndDate, #ddlType, #ddlDepartment, #ddlRole {
	width: 160px !important;
}

body {
	-ms-overflow-style: scrollbar;
}

.remove-scroll {
    -ms-overflow-style: auto;
    overflow:hidden;
}

.login_text {
	height: 20px;
	padding-right: 5px;
	vertical-align:middle;
}

.login_input {
	padding-left: 2.5px;
	margin-top: 5px;
}

.user_input{
	width: 250px !important;
}

#txtDepartmentID, #txtDepartmentName {
	width : 200px!important;
}

.hideOption{
    display: none!important;
}

#showPassword {
    padding-left: 0px;
    margin-left: -25.5px;
    padding-top: 4px;
}

#showPassword:hover{
    cursor:pointer;
}

.active-page{
    color:#fff!important;
}

.back-container{
    position:relative;
    width:100%;
    height:40px;
}

.btn-back {
    border: solid 2px #0094FF;
    padding: 5px 5px 5px 2px;
    width: 100%;
    color: #0094FF !important;
    border-radius: 5px;
    min-width: 100px;
    width: 100px;
    height: 35px;
    float:right;
    text-align: center;
    position: relative;
}


.btn-back-class-timing, .btn-back-class-details, .btn-back-learner-details {
    right:20px;
}

.btn-back:hover {
    background-color: #0094FF;
    cursor:pointer;
    color:white!important;
}


#remark-preview {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70px;
    display: block;
    text-align:left;
}

.classlist-table-classID{
    max-width:8vw;
    min-width:8vw;
    display:table-cell;
}

.classlist-table-courseName {
    max-width: 20vw;
    min-width: 20vw;
    display: table-cell;
}

.classlist-table-courseID {
    max-width: 10vw;
    min-width: 10vw;
    display: table-cell;
}

.classlist-table-instructor {
    max-width: 15vw;
    min-width: 15vw;
    display: table-cell;
}

.classlist-table-instructorId {
    max-width: 12vw;
    min-width: 12vw;
    display: table-cell;
}

.classlist-table-startDate {
    max-width: 8vw;
    min-width: 8vw;
    display: table-cell;
}

.classlist-table-endDate {
    max-width: 8vw;
    min-width: 8vw;
    display: table-cell;
}

.classlist-table-Status {
    max-width: 7vw;
    min-width: 7vw;
    display: table-cell;
}

.classlist-table-StatusAction {
    max-width: 7vw;
    min-width: 7vw;
    display: table-cell;
}

.classlist-table-export {
    max-width: 10vw;
    min-width: 10vw;
    display: table-cell;
    white-space:nowrap;
}

.home-table-classID {
    max-width: 8vw;
    min-width: 8vw;
    display: table-cell;
}

.home-table-courseName {
    max-width: 25vw;
    min-width: 25vw;
    display: table-cell;
}

.home-table-instructor {
    max-width: 17vw;
    min-width: 17vw;
    display: table-cell;
}

.home-table-instructorId {
    max-width: 12vw;
    min-width: 12vw;
    display: table-cell;
}

.home-table-total-registered {
    max-width: 12vw;
    min-width: 12vw;
    display: table-cell;
}

.home-table-present {
    max-width: 8vw;
    min-width: 8vw;
    display: table-cell;
}

.home-table-absent {
    max-width: 8vw;
    min-width: 8vw;
    display: table-cell;
}

.home-table-Status {
    max-width: 8vw;
    min-width: 8vw;
    display: table-cell;
}

@media only screen and (max-width:1099px) {
    .classlist-table-classID {
        max-width: 100px;
        min-width: 100px;
    }

    .classlist-table-courseName {
        max-width: 250px;
        min-width: 250px;
    }

    .classlist-table-courseID {
        max-width: 120px;
        min-width: 120px;
    }

    .classlist-table-instructor {
        max-width: 150px;
        min-width: 150px;
    }

    .classlist-table-instructorId {
        max-width: 100px;
        min-width: 100px;
    }

    .classlist-table-startDate {
        max-width: 100px;
        min-width: 100px;
    }

    .classlist-table-endDate {
        max-width: 100px;
        min-width: 100px;
    }

    .classlist-table-Status {
        max-width: 100px;
        min-width: 100px;
    }

    .classlist-table-StatusAction {
        max-width: 100px;
        min-width: 100px;
    }

    .classlist-table-export {
        max-width: 150px;
        min-width: 150px;
    }

    .home-table-classID {
        max-width: 100px;
        min-width: 100px;
    }

    .home-table-courseName {
        max-width: 250px;
        min-width: 250px;
        display: table-cell;
    }

    .home-table-instructor {
        max-width: 160px;
        min-width: 160px;
    }

    .home-table-instructorId {
        max-width: 120px;
        min-width: 120px;
    }

    .home-table-total-registered {
        max-width: 150px;
        min-width: 150px;
    }

    .home-table-present {
        max-width: 100px;
        min-width: 100px;
    }

    .home-table-absent {
        max-width: 100px;
        min-width: 100px;
    }

    .home-table-Status {
        max-width: 100px;
        min-width: 100px;
    }
}

.late-row{
    margin-bottom:5px;
}

.late-row-2{
    margin-bottom:10px;
}

@media only screen and (max-width:1199px) {
    #btnCancelLate,#btnSubmitLate{
        width:30%!important;
    }

    #late-report-window .report-button-section-operate{
        padding-right:0px;
    }
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.report-section{
    float:left;
}

#generate-report-window,#late-report-window {
    background-color: #fff;
    min-width:200px;
    /*width: 30%;*/
    height: auto;
    position: fixed;
    top: 35%;
    /*left: 35%;*/
    border-radius: 5px;
    border: 1px solid #1b4785;
    padding: 10px;
    box-shadow: 2px 2px 11px 2px #7d7d7d;
    z-index:10;
    pointer-events:visible;
}

.report-criteria-section{
    height:50px;
}

.report-criteria-section img{
    float:left;
}

#late-report-window .report-criteria-section h4 {
    padding-left: 30px;
    float: left;
}

#generate-report-window .report-criteria-section h4 {
    padding-left: 14px;
    float: left;
}

.padding-0 {
    padding: 0px !important;
}

.destination-text{
    padding-top:5px!important;
}

#txtDestinationPath{
    padding-left:2px!important;
    padding-right:2px!important;
}

.report-button-section{
    /*padding-top:5%;*/
}

#btnBrowse{
    display:none;
}

.Custom-browse-button {
    cursor: pointer;
    float:right;
    margin-top: -5px!important;
}

.report-button-section-operate{
    float:left;
    width:100%;
    margin-top:12.5%;
    padding-right:15px;
}

#textNotify{
    color:forestgreen;
    float:right;
    text-align:right;
}

#pop-up-wrap, #pop-up-wrap-late {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
    /* opacity: 0.5; */
}

#btnSubmitBulk, #btnCancelBulk, #btnSubmitLate, #btnCancelLate {
    border-radius: 5px;
    margin-top: 8px;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    color: #0094FF;
    background-color: white;
    border: 1.5px solid #0094FF;
    outline: none;
    text-align: center;
    margin-right: 5px;
    width: 8vw;
    float: right;
}

#btnSubmitBulk:hover, #btnCancelBulk:hover, #btnSubmitLate:hover, #btnCancelLate:hover {
    color: white;
    background-color: #0094FF;
}

#btnCancelBulk {
    margin-left: 5px;
}

#btnSubmitBulk {

}

.enabled-func{

}

.disabled-func{

}

.pdf-opt{

}

.report-button-section i {
    font-size: 20px;
    vertical-align: top;
}

.report-button-section i.fa-file-pdf{
    color:red;
}

.report-button-section i.fa-file-excel{
    color:forestgreen;
}

.report-button-section i.fa-file-word{
    color:dodgerblue;
}

.asterisk-red{
    color:red;
}

.pointer-cursor{
    cursor:pointer;
}

@media only screen and (max-width:992px) {
    #btnSubmitBulk, #btnCancelBulk {
        width: 15vw;
    }
}

@media only screen and (max-width: 768px) {
   #btnSubmitBulk, #btnCancelBulk {
        width: 25vw;
   }
}

/*Class Timing Start*/
.custom-tb td {
    width: 25vw;
}


#timmingContainer {
    margin: 30px 0px;
}

.table-body-wrapper {
    max-height: 103px;
    display: inline-block;
    overflow-y: auto;
}

.btn-edit-ack {
    cursor: pointer;
    color: #0094FF;
    font-weight:bold;
    text-align:left;
    padding-left:10px;
}


/*Class Timing End*/
/*Class Details Start*/
.col-staffID{
    padding-left:0;
    text-align:left;
}

.col-staffID-list{
    padding-left:0;
    text-align:left;
}

#tbAttendanceList, #tbLearnerPresent {
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#right thead, #left thead{
    display:table;
    width:100%;
    /*float:left!important;*/
}

#right tbody, #left tbody {
    display:block;
    overflow-y:auto;
    overflow-x:hidden;
	position:relative;
	z-index:0;
}

#right thead tr, #left thead tr{
    display:table;
    table-layout:fixed;
    width:100%;
}

#right tbody tr, #left tbody tr{
    display:table;
    width:100%;
    table-layout:fixed;
}

#tbAttendanceList::-webkit-scrollbar, #tbLearnerPresent::-webkit-scrollbar {
    width: 2.5px;
    height:2.5px;
    background-color: #E4E4E4
}

#tbAttendanceList::-webkit-scrollbar-thumb, #tbLearnerPresent::-webkit-scrollbar-thumb {
    background-color: #000;
}

.left-table-space{
    width: 10%
}

.left-table-indexCount-1 {
    width: 10%;
}

.left-table-indexCount-2 {
    width: 10%;
}

.left-table-Name-1 {
    width: 57.5%;
}

.left-table-Name-2 {
    width: 62.5%;
}

.left-table-StaffID-1 {
    width: 22.5%;
}

.left-table-StaffID-2 {
    width: 27.5%;
}

.right-table-indexCount{
    width:7.5%;
}

.right-table-Name{
    width:50%;
}

.right-table-StaffID{
    width:20%;
}

.right-table-Time{
    width:12.5%;
}

.right-table-Remarks{
    width:15%;
}

.valid-learner-green {
    border: 15px solid #04ff00 !important;
    transition: all ease-in 0.25s;
}

.invalid-learner-red{
    border: 15px solid red!important;
    transition: all ease-in 0.25s;
}

.verification-row{
    font-size:16px;
}

.remark_title {
    display: inline-block;
    width: 100%;
}

.remark_option {
    display: inline-block;
    width:100%;
    padding-left: 8px;
}

.remark_button {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    text-align: right;
}

.remark_custom_modal{
    width: 500px!important;
}

#others_selected{
    margin-top: 10px;
}

.pg-ClassDetails-staffID {
    padding-right: 1.9vw !important;
}

.pg-ClassDetails-remark {
    padding-right: 1.6vw!important;
}

.add-padding-right-staffid {
    padding-right: 4.4vmin;
}

.add-padding-right-remark{
    padding-right : 4vmin;
}

.add-padding-left{
    padding-left: 2vw;
}

@media only screen and (min-width: 1660px){
    .col-staffID{
        padding-left: 5px;
    }
}

@media only screen and (max-width: 1599px) {
    .pg-ClassDetails-staffID {
        padding-right: 3vw!important;
    }

    .pg-ClassDetails-remark {
        padding-right: 3.3vw!important;
    }
}

@media only screen and (max-width: 1500px){
    .add-padding-right-staffid {
        padding-right: 4.3vmin;
    }

    .add-padding-right-remark {
        padding-right: 3.3vmin;
    }
}

@media only screen and (max-width: 1280px) {
    .pg-ClassDetails-staffID {
        padding-right: 3.5vw!important;
    }

    .pg-ClassDetails-remark {
        padding-right: 3vw!important;
    }
}

/*Class Details End*/

/*Learner Details Start*/
#sucessfulStatus{
    font-weight:bold;
}

.sucessfulStatus-red{
    color:red;
}

.sucessfulStatus-green{
    color:green;
}
/*Learner Details End*/

.remark-field-update{
    max-width:250px;
    min-width:250px;
    white-space:normal;
}