﻿/*AAT Logo color #194685;*/

body {
	/*padding-top: 50px;*/
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	/*padding-left: 15px;
    padding-right: 15px;*/
	float: left;
	min-width: 1200px;
	color:#ff0000
}

.valid-card-msg {
	font-weight:bold;
	color:#00ff21;
}

.invalid-card-msg {
	font-weight: bold;
	color: #ff0000;
}
.imgSortToggle {
	width: 15px;
	height: 15px;
}
.readonly {
	background-color: #EBEBE4 !important;
	border: none;
}

.td-align-top {
	vertical-align: text-top;
	padding-top: 7px;
}

a {
	cursor: pointer;
}

/*html input[type="button"] {
	border-width:1px;
}*/
.smalltr {
	height: 30px !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select {
    max-width: 280px;
}*/

.pagedetail-container {
	overflow: hidden;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

textarea {
	max-width: 750px;
}

#masterTopMenu {
	background-color: #dddddd;
	height: 35px;
}

.leftPanel {
	float: left;
	margin-right: 35px;
	margin-bottom: 37px;
}

.rightPanel {
	display: block;
	overflow: hidden;
	padding-left: 100px;
	padding-right:15px;
	/*width:460px;*/
}

.leftDiv {
	float: left;
}

.rightDiv {
	float: right;
}

.masterRightContainer {
	/*padding-left: 110px;
	margin-left:50px;*/
	overflow: unset;
}

.svgMenuItem {
	margin-top: 7px;
	margin-left: 7px;
	width: 35px;
	height: 25px;
	Fill: #FFD800;
}

.svgMenuItem path {
	Fill: #FFFFFF !important;
}


​
.dropbtn {
	padding-top: 5px;
	color: black;
	margin-top: 6px;
	font-weight: bold;
	border: none;
	cursor: pointer;
	margin-right: 100px;
	height: 30px;
}

.newServiceCall {
	cursor: pointer;
	padding-right: 20px;
	margin-bottom: 2px;
	font-size: 12pt;
	color: #666666;
	/*font-weight: bold;*/
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}


		.dropdown-content a:hover {
			background-color: #0094FF;
			color: white;
		}

.dropdown:hover .dropdown-content {
	display: block;
}

/*.dropdown:hover .dropbtn {
	background-color: #0094FF;
	color:white;
}*/

.page-title {
	font-size: 14pt;
}

.main-content-page {
	padding-left: 10px;
	padding-top: 15px;
}

.button {

	border-color: #0094FF;
	background-color: transparent;
	height: 35px;
	min-width: 100px;
	margin-right: 5px;
	color: #0094FF;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-image: none;
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}


.btn-outline-primary {
	color: #0094FF;
	background-color: transparent;
	background-image: none;
	border-color: #0094FF;
	height: 35px;
	min-width: 100px;
	/*margin-right: 5px;*/
	margin-top: 5px;
	margin-bottom: 5px;
	border-width: 1.5px;
}


.button-gray {
	background-color: #ffffff;
	border-color: #808080;
	color: #808080;
	height: 35px;
	min-width: 100px;
	margin-right: 5px;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.movebutton {
	border-color: #0094FF;
	background-color: #ffffff;
	height: 35px;
	color: #0094FF;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.small-button {
	border-color: #0094FF;
	background-color: #ffffff;
	height: 25px;
	min-width: 70px;
	margin-right: 5px;
	color: #0094FF;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}

	.small-button.disable {
		border-color: rgba(0,0,0,0.2);
		color: rgba(0,0,0,0.2);
	}

#btnSave {
	border-color: #0094FF;
	background-color: #0094FF;
	color: white;
	height: 35px;
	min-width: 100px;
}

div .workflow {
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	width: 150px;
	height: 27px;
	vertical-align: middle;
	line-height: 27px;
	margin-right: 5px;
	display: inline-block;
	color: white;
}

	div .workflow.active {
		background-color: #FFD800;
	}

.dropdowntime {
	width: 50px;
	text-indent: 5px;
}

.datetext {
	width: 120px;
	text-align: center;
}


.section_title {
	
	width: 98%;
	margin-top: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}

.bottomborder {
	border-bottom: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.section_content .section-label, .label-col {
	/*width: 130px;*/
	text-align: right;
	padding-right: 10px;
	color: #808080;
}

.section_content .section-label-medium {
	width: 180px;
	text-align: right;
	padding-right: 10px;
	color: #808080;
}

.align_top {
	vertical-align: top;
	padding-top: 7px;
}

.section_content tr {
	height: 38px;
}

.section_content .section-item {
}


.svgSearchBtn {
	margin-left: 3px;
	width: 25px;
	height: 27px;
	padding-bottom:5px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	padding-top: 200px; /* Location of the box */
	left: 0;
	top: 0;
	min-width: 300px; /* Full width */
	min-height: 300px; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 750px;
}

/* The Close Button */
.modal-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

	.modal-close:hover,
	.modal-close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

.main-cust-shortcut {
	color: #0094FF;
	cursor: pointer;
	margin-right: 12px;
}

.dropdownlist {
	min-width: 100px;
	min-height: 27px;
}

.dropdownpage {
	min-height: 27px;
}

.ddlCustomer {
	width: 300px;
	height: 30px;
}

.dashboard-tb {
	border: 1px;
	border-color: #0094FF;
	min-width: 500px;
	max-height: 700px;
}

	.dashboard-tb .headline-row {
		background-color: #0094FF;
		color: white;
		height: 30px;
	}

	.dashboard-tb .headder-row, .section_content .headder-row, .listview-tb .headder-row {
		background-color: #1B4785;
		color:white;
		height: 25px;
	}
.section_content {
	padding-left:5px;
}
.section_content .headline-row {
	text-align: right;
}

.section_content td {
	padding-left: 5px;
}

.svgHeadline {
	width: 25px;
	height: 20px;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: middle;
}

.linkButton {
	color: #0094FF;
}

.criteria .title {
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,0.4);
	margin-bottom: 20px;
}

.criteria .criteria_text {
	font-weight: bold;
	font-size: 16px;
	vertical-align: bottom;
}

#ddlPage {
	min-width: 50px;
	text-indent: 5px;
}

.criteria .criteria_content {
	text-align: center;
	margin-top: 15px;
}

.criteria .criteria_button {
	text-align: right;
}

.listview-tb {
    border: 1px;
    border-color: #0094FF;
    width: 100%;
    display:table-cell;
}

.masterleftmenu {
	background-color: #f9f9f9;
	width: 170px;
	height: 350px;
	float: left;
	margin-left: -15px;
	margin-right: 15px;
}

	.masterleftmenu a {
		color: black;
		padding: 5px 5px;
		text-decoration: none;
		display: block;
	}


	.masterleftmenu .leftmenutext {
		margin-left: 2px;
		line-height: 25px;
		vertical-align: middle;
		display: inline-block;
		padding-top: 7px;
		height: 30px;
	}

.SearchBtnText {
	color: #0094FF;
}

.modal-content table {
	width: 100%;
}

.modal-content .modelHeaderRow {
	background-color: #DDDDDD;
}

.modal-content tr {
	height: 30px;
}

.listbox_container td {
	padding-left: 0px !important;
	margin-left: 0px;
	vertical-align: top;
}

.modal-content .modelContentRow {
	cursor: pointer;
	border-bottom: solid;
	border-bottom-color: #DDDDDD;
	border-bottom-width: thin;
}

.listbox_container {
	width: 100%;
}

.listBox {
	width: 250px;
	min-width: 100px;
	min-height: 120px;
}

.listbox_button {
	text-align: center;
	width: 70px;
	vertical-align: middle;
}

.otherDescription {
	margin-top: 7px;
}

.checkColum {
	width: 32px;
	text-align: center;
}

.linktext {
	color: #0094FF;
	text-decoration: none;
	cursor: pointer;
}

.pagination {
	color: #0094FF;
	text-decoration: none;
	cursor: pointer;
}

	.pagination .active {
		color: #666666;
		cursor: none;
	}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: #0094FF;
}

#loginContainer {
	/*width: 500px;
	height: 100px;*/
	align-items: center;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.UserLogo {
	width: 50px;
	height: 50px;
}

.UserDiv {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 15px;
}

.attactfile {
	color: #0094FF;
	text-decoration: none;
	cursor: pointer;
	padding-left: 20px;
}

.imgbutton {
	cursor: pointer;
}


#divPlanedJob {
	min-height: 250px;
}


.appname {
	text-align: right;
	color: #144484;
	font-size: 18pt;
	font-weight: bold;
	height: 50px;
}

.colCriterialLabel {
	text-align:right;
	padding-right:7px;
}

.listview-tb td {
    padding-left: 5px;
    vertical-align: top;
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    width:25vw;
}

.itemrow {
	display:table-row;
}

.borderContainer {
	border: solid;
	border-width: thin;
	border-color: #0094FF;
	padding:10px;
}

.verifyphoto {
	margin-bottom:15px;
	width:165px;
	height:165px;
	border-radius:50%;
}


fieldset {
	margin: 0px;
	border: 1px solid #666666;
	padding: 8px;
	border-radius: 4px;
	padding-bottom: 18px;
}

legend {
	padding: 2px;
	font-size: 13pt;
}

.tb-last-col {
	text-align:right;
	padding-right: 15px;
}

#current_date {
	font-weight: bold;
	font-size: 18pt;
}

#current_time {
	color: #0026FF;
	font-weight: bold;
	font-size: 22pt;
}

fieldset .headder-row, .listview-tb-normal .headder-row {
	border-bottom: 1px solid #666666;
	font-weight: bold;
	color: #808080;
	height: 30px;
}

fieldset tr, .listview-tb-normal tr {
	height: 28px;
}

fieldset td, .listview-tb-normal td {
	/*padding-left: 5px;
	padding-right: 5px;*/
}


.collapseImg {
	width:18px;
	height:18px;
	margin-bottom:4px;
	
}

.hideDisplay {
	display:none!important;
}

#criterialCollapselnk {
	cursor:pointer;
}

.action-col {
	text-align:center;
}
.action-img-btn {
	width:26px;
	height:22px;
}

.export-img-btn {
	width: 22px;
	height: 23px;
}

.img-check {
	width:16px;
	height: 16px;
}

.center {
	text-align:center;
}

.td-col-title {
	background-color:#aaaaaa;
	width:150px;
	height:35px;
	margin-top:3px;
	padding-top:7px;
	padding-left:7px;
}

.report-text {
	font-weight:bold;
}

.fixed_header tbody {
	display: block;
	overflow: auto;
	width: 100%;
}

.fixed_header thead tr {
	display: block;
	height: 27px;
	margin-bottom: 5px;
	/*display: flex;
	align-items: center;*/
	padding-top:3px;
}

.SummaryText {
	color:black;
}

.error-msg {
	color:#ff0000;
	font-size:13pt;
}

.learner-remark-sum {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100px;
	display:block;
}