﻿@using Newtonsoft.Json
@using AAT.Model
@using AAT.Model.Utils

@model AAT.Model.ViewModel.DepartmentListViewModel

@using (Html.BeginForm("DepartmentListAction", "Department", FormMethod.Post, new { @id = "DepartmentForm" }))
{
<div class="pagedetail-container">
	<div style="width:100%;" class="bottomborder"><span id="criterialCollapselnk"><img id="imgCriterialCollapse" class="collapseImg" src="~/Images/expand.svg" /> &nbsp;Criteria</span></div>

	<div id="tbCriterial" style="margin-top:15px; padding-bottom:3px;" class="">
		<table style="width:100%;">
			<tr>
				<td class="colCriterialLabel">Department ID</td>
				<td>
					@Html.TextBox("txtDepartmentId", Model.SearchId)
				</td>
				<td class="colCriterialLabel">Department Name</td>
				<td>
					@Html.TextBox("txtDepartmentName",Model.SearchName)
				</td>
			</tr>
		</table>
		<div style="width:100%; text-align:right; padding-top:5px; ">
			<input id="btnSearch" type="button" value="Search" class="btn btn-outline-primary" />
			<input onclick="GoURL('/Department/DepartmentUpdate')" id="btnNewDepartment" type="button" value="+ New" class="btn btn-outline-primary" />
		</div>
	</div>
	@Html.Hidden("ActionId")
	<br />
	<table class="listview-tb">
		<tr class="headder-row">
			<td>#</td>
			<td>Department ID</td>
			<td>Department Name</td>
			<td></td>
		</tr>
		@if (Model.DepartmentList.Count > 0)
		{
			foreach (var item in Model.DepartmentList)
			{
				<tr class="smalltr">
					<td>@item.RowNum</td>
					<td>@item.DepartmentId</td>
					<td>@item.DepartmentName</td>
					<td class="action-col" style="text-align:right; padding-right:15px;">
						<a href="/Department/DepartmentUpdate?id=@item.DepartmentId">Edit</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr class="smalltr">
				<td colspan="4" style="text-align:center">No record found!</td>
			</tr>
		}

	</table>
	@*<div>
			@Html.Partial("~/Views/Shared/Pager.cshtml", Model.PagingModel)
		</div>*@

</div>
}

<script>

$(function () {

});

$("#btnSearch").click(function () {
	$("#ActionId").val(2);
	$("#DepartmentForm").submit();
});

$("#btnShow").click(function () {
	$("#ActionId").val(2);
	$("#DepartmentForm").submit();
});

function DepartmentPaging(page) {
	$("#ActionId").val(1);
	$("#Page").val(page);
	$("#DepartmentForm").submit();
	}

	$("#criterialCollapselnk").click(function () {
		criterialCollapse();
	});

	function criterialCollapse() {
		var criterialImg = $('#imgCriterialCollapse');
		var tbCriterial = $('#tbCriterial');

		var imgeSrouce = $('#imgCriterialCollapse').attr('src');

		if (imgeSrouce.indexOf("expand.svg") >= 0) {
			$(criterialImg).attr("src", "/Images/collapse.svg");
			tbCriterial.addClass("hideDisplay");
		}
		else {
			$(criterialImg).attr("src", "/Images/expand.svg");
			tbCriterial.removeClass("hideDisplay");
		}
	}
</script>
